.devred {
  border: 1px solid red !important;
}

.devblue {
  border: 1px solid blue !important;
}


body {
  font-family: $primary-font-family;
  font-size: 1rem;

  // position: relative;
  // height: auto;
  // min-height: 100% !important;
  min-height:100% !important; 
}

/* TYPE */

span.code {
  font-family: 'Courier New', monospace;
}


// FIX
button:disabled  {
  opacity: .45;
  cursor: not-allowed;
}

.navbar-container {
  position: relative;
  height: 40px;
  margin-bottom: 3px;
  border-bottom: 1px solid $primary-bg-color;
  background: $primary-bg-color;
}

.navbar {
  display: block;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  li {
    display: block;
    float: left;
    a {
      color: $primary-font-color;
    }
  }
}

// HERO/HEADER
.header-container {
  position: relative;
  width: 100%;
  height: 125px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 5px;
  // border-top: 1px solid $primary-bg-color;
  // border-bottom: 1px solid $primary-bg-color;
}

.header-content {
  display: block;
  height: 70px;
  position: relative;
  width: 1000px;
}

.header-headline {
  float: left;
  position: relative;
  height: 76px;
  width: 490px;
  // margin: 0 auto;
  margin-left: 20px;
  .header-logo {
    position: relative;
    width: 240px;
    height: 46px;
    float: left;
    margin-top: 8px;
    h1 {
      font-family: $dim-viewer-font-family;
      position: absolute;
      top: 0;
      font-size: 48px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      color: $whit-color;
    }
    .header-version {
      position: absolute;
      font-size: 12px;
      bottom: -2px;
      right: 14px;;
      p {
        color: #959595;
        margin: 0;
        padding: 0;
      }
    }
    // border: 1px solid black;
    img {
      display: block;
      // margin: 0 auto;
    }
  }
  .header-image {
    // position: absolute;
    // top: 0;
    float: left;
    width: 90px;
    margin-top: 4px;
    img {
      width: 90px;
      margin-top: -12px;
      &.right, .left {position: absolute;}
      &.right {right: 0;}
      &.left {left: 0;}
    }
  }
  .header-divider {
    float: right;
    width: 18px;
    height: 57px;
    margin-top: 4px;
    border-left: 8px solid #b7b233;
    border-right: 8px solid #b77033;
  }
  .header-slug {

  }
}



.header-subtext, .header-slug {
  float: right;
  h2 {
    width: 100%;
    margin-top: 6px;
    padding: 0;
    color: $header-subtext-color;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
    a {
      color: $header-subtext-color;
      text-decoration: none;
    }
    .initial-cap {
      font-size: 110%;
      font-weight: 800;
    }
    .whit-initial-cap {
      color: $whit-color;
    }
    .dim-initial-cap {
      color: $dim-color;
    }
    span.header-version {
      font-size: 12px;
    }
  }
}

.header-slug {
  width: 600px;
}



// IMAGE TOOLBAR
.toolbar {
  display: block;
  position: relative;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  background: $image-toolbar-bkgd-color;
  // z-index: 100;
}

// UL -- Toolbar button container 
.toolbar-buttons {
  display: block;
  width: 840px;
  margin: 0 auto;
  padding: 0;
  li {
    display: inline;
    margin: 0;
    padding: 0;
    button {
      display: inline;
      margin: 0;
      padding: 0;
    }
    input {
      width: 50px;
      height: 32px;
      margin:0;
      padding:0;
      font-size: 14px;
      font-style: italic;
      line-height: 18px;
      text-align: center;
    }
    img {
      width: 50px;
      height: 30px;
      margin: 0;
      vertical-align: middle;
      &.divider {
        width: 5px;
        height: 18px;
        margin: 0 7px;
        opacity: .2;
      }
    }
    #tb-but-mobile-swap {
      width: 90px;
      text-align: center;

    }
    #ipt-tbr-viewerw {
      width: 80px;
      padding-left: 30px;
      text-align: center;
      background: url('../img/table-icon.png') no-repeat scroll 7px 7px;
    }
    #ipt-tbr-sphones-width {
      width: 70px;
      padding-left: 30px;
      background: url('../img/small-phones-toolbar-icon.png') no-repeat scroll 12px 2px;
      background-size: 15px 26px;
    }
    #ipt-tbr-lphones-width {
      width: 90px;
      padding-left: 30px;
      background: url('../img/large-phones-toolbar-icon.png') no-repeat scroll 7px 2px;
      background-size: 34px 24px;
    }
    #toggle-retina, #toggle-image-size {
      width: 50px;
      height: 32px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 45px 27px;
    }
    #toggle-retina {
      background-image: url('../img/retina-button.png');
    }
    
    #toggle-retina.active {
    background-image: url('../img/retina-button-active.png');
    }
    
    #toggle-image-size {
      background-image: url('../img/display-button.png');
      .active {
        background-image: url('../img/disk-button.png');
      }
    }
  }
}

// TODO: Nest this under toolbar-buttons so that the JS works to make it
// disappear on focus
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

// APP-CONTAINER
#app-container {
  display: block;
  position: relative;
  // VA! This yields a viewport width of 802, which allows a user-entered width of 800 max
  width: 850px;
  min-height: 679px;
  // padding: 0 30px;
  margin: 15px auto 100px;
  // border: 1px solid red;
}

// TOOLS
#toolbar-container {
  display: none;
  position: absolute;
  // top: -150px;
  top: 0;
  left: 0;
  width: 100%;
  &.show-err {
    transform: translate(0, 50px);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  &.hide-err {
    transform: translate(0, 0);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
}

// IMAGE-VIEWPORT- contains dim viewer, dim-error-container and ccp
#image-viewport {
  display: block;
  position: absolute;
  top: 40px;
  width: 850px;
  height: 679px;
  // width: 100%;
  // height: 1170px !important;
  // !VA Setting min height here because anything less than 679px won't make enough room for CCP
  min-height: 679px !important;
  margin: 0 auto;
  border-top: 110px solid #000;
  border-right:  24px solid #000;
  border-bottom:  24px solid #000;
  border-left:  24px solid #000;

  border-radius: 10px;
  // overflow: auto;
  background: #E1E1E1 url('../img/html-email-icon-blue.png') repeat;
  z-index: 2;
}

// DIM VIEWER
#inspector-container {
  display: block;
  position: absolute;
  top: 45px;
  width: 100%;
  height: 100px;
  margin: 0 auto 10px;
  background-color: #000000;
  z-index: 3;
  overflow: hidden;

  

}

#inspector-content {
  font-family: $dim-viewer-font-family;
  font-weight: normal;
  font-size: 1em;
  display: block;
  position: relative;
  top: 0; 
  width: 98%;
  height:  95px;
  margin: 0 auto;
  color: #FFFFFF;
  &.show-err {
    transform: translate(0, -85px);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  &.hide-err {
    transform: translate(0, 0);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  #i-filename {
    display: block;
    position: absolute;
    top: 5px;
    width: 100%;
    height: 22px;
    margin: 0 auto;
    padding: 0 40px 0 0;
    color: $filename-viewer-font-color;
    font-size: 1.365em;
    // color: #FFFFFF;
    text-align: center;
  }
  .inspectors-left-col {
    position: relative;
    top: 15px;
    width: 260px;
    float: left;
    ul {
      width: 220px;
      float: right;
    }
  }
  .inspectors-right-col {
    position: relative;
    top: 15px;
    width: 300px;
    float: right;
    ul {
      float: left;
    }
  }
  li {
    padding: 2px 2px 2px 0px;
    border: 0;
    color: $inspector-content-font-color;
    font-size: 1.365em;
    text-transform: uppercase;
    list-style-type: none;
    &#i-display-size::before {content: 'Display size: '}
    &#i-disk-size::before {content: 'Size on Disk: '}
    &#i-aspect::before {content: 'Aspect Ratio: '}
    &#i-small-phones::before {content: 'Small Phones: '}
    &#i-large-phones::before {content: 'Large Phones: '}
    &#i-retina::before {content: 'Retina: '}
    // Make the data font defined in the span in the JS pop out against the label.
    .pop-font {
      color: $inspector-content-pop-font-color;
    }
  }
}

#clipboard-but-container {
  position: absolute;
  top: 36px;
  left: 50%;
  width: 100%;
  margin-left: -40px;
  #btn-toggle-ccp {
    width: 40px;
    height: 47px;
    margin-right: 20px;
    border: 0;
    background-color: transparent;
    background-image: url(../img/clipboard.png);
    background-position: center top;
    background-size: 40px 47px; 
    &.active {
      background-image: url('../img/clipboard-hover.png');
    }
  }
}

// APP ERROR DISPLAY
#msg-container {
  display: block;
  position: relative;
  top: -65px;
  // top: 0px;
  left: 0;
  width: 100%;
  height: 65px;
  opacity: 1;
  &.show-err {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    color: #FF0000;
    // transform: translate(0, 85px);
    // transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  &.hide-err {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    // transform: translate(0, 0px);
    // transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  &.show-mess {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    color: #959595;
    // transform: translate(0, 85px);
    // transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  &.hide-mess {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    color: #959595;
    // transform: translate(0, 85px);
    // transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  // dim-errors
  table {
    display: block;
    position: relative;
    width: 650px;
    height: 100%;
    margin: 0 auto;
    // msg-content
    td {
      width: 650px;
      height: 65px;
      font-size: 17px;
      line-height: 18px;
      font-style: italic;
      font-weight: normal;
      text-align: center;
      text-transform: none;
      vertical-align: middle;
      // overflow: hidden;
    }
  }
}


// MAIN IMAGE VIEWER
#main-image-viewer {
  width: 650px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  // !VA Width and height should only be set programmatically
  transform:  translateY(-50%) translateX(-50%);
  background: #e1e1e1 url('../img/html-email-icon-white.png') repeat;
}

#main-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translateY(-50%) translateX(-50%);
  z-index: -1;
  // The displayed img
  #main-img {
    border: 1px dotted #959595;
  }
  // DROP AREA
  #drop-area {
    display: block;
    position: relative;
    width: 600px;
    min-height: 400px;
    border: 2px dashed #bbb;
    border-radius: 10px;
    // :VA Fix the vendor prefixes
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    .drop-callout {
      margin-top: 0;
      padding: 15px 25px;
      color: #959595;
      font-size: 40px;
      text-align: center;
      text-transform: uppercase;
    }
    .drop-area-content {
      display: block;
      margin: 0 20px 10px 40px;
      color: #959595;
      font-size: 16px !important;

    }
    // span
    .witty {
      color: #6a6a6a;
      font-size: 110%;
    }
  }
}

// :VA Not sure where this goes
output {
  // :VA override bootstrap default -- !important required here
  padding: 0 !important;
}

// :VA Not sure where this goes
#ipad-container {
  position: absolute;
  top: -72px;
  left: -86px;
}

// TOOLTIPS 
// VA! Tooltips are annoying -- unless I can figure out a way to make them useful I'm turning them off here by setting opacity by turning off the ttip opacity transition and turning off ttiptext opacity and visibility  

.ttip {
  display: inline-block;
  position: relative;
  &:hover {
    .ttiptext {
      opacity: 0;
      visibility: hidden;
    }
  }
  .ttiptext {
    position: absolute;
    bottom: 125%;
    left: 50%;
    width: 100px;
    margin-left: -60px;
    padding: 5px 5px;
    // transition: opacity 1s;
    border-radius: 6px;
    background-color: $tooltip-bg-color;
    color: $tooltip-font-color;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    &::after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $tooltip-border-color;
      content: '';
    }
  }
}

// .ttip:hover .ttiptext {
//   visibility: visible;
//   opacity: 1;
// }

// CLIPBOARD CONTROL PANEL
#ccp {
  position: relative;
  width: 98%;
  height: 530px;
  margin: 6px auto 0;
  padding: 0;
  border: 1px solid #161616;
  background: #000000;
  border-radius: 10px;
  // Animation
  // Get rid of vendor prefixes
  -webkit-transform: scaleX(0);
  -webkit-transition: -webkit-transform 500ms;
  transform: scaleX(0);
  transition: transform 100ms;
  opacity: .91;
  z-index: 100;
  &.active {
    // :VA Fix the vendor prefixes
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  h2 {
    display: block;
    margin: 8px 0 0 0;
    padding: 0;
    color: $primary-font-color;
    font-size: 14px;
    text-align: center;
  }
}
#ccp-blocker {
  position: absolute;
  top: 0;
  left: 0;
  height: 530px !important;
  width: 800px;
  background: transparent;
  display: none;
  z-index: 999;

}

#ccp-content {
  display: block;
  position: relative;
  width: 94%;
  height: 470px;
  margin: 0 auto;
  padding: 0;
  // Global CCP character styles

  input, label {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
  }
  select {
    width: 80px;
    font-size: 14px;
  }
  input {
    border: 1px solid #616161;
    background: #000000;
    color: #FFFFFF;
  }
  // VA! Set the height of each option fieldset
  fieldset#ccp-img-options, fieldset#ccp-td-options, fieldset#ccp-table-options {
    height: 160px;
  }


  // VA! Set the width of the 4 options columns in each fieldset
  fieldset {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid $fieldset-border-color;
    border-radius: 5px;
    span.ccp-heading, label.ccp-heading  {
      font-size: 13px;
      font-weight: bold;
      color: #a8a8a8;
      margin: 0 0 8px 0;
      padding: 0;
    }
    legend {
      height: 20px;
      width: 145px;
      margin: 0 0 0 20px;
      padding: 0 10px;
      border: none;
      color: $fieldset-legend-color;
      font-size: 16px;
      font-weight: 400;
    }
    .ccp-options-col-1, .ccp-options-col-2, .ccp-options-col-3, .ccp-options-col-4 {
      // position: relative;
      display: block;
      float: left;
      top: 2px;
      margin: 0;
      padding: 0;
    }
    .ccp-options-col-1 {
      // !VA Width is actually irrelevant here since these elements are absolutely positioned
      width: 105px;
      height: 120px;
      margin: 0 7px;
      border: 1px solid transparent;
      .ccp-but {
        width: 90px;
        height: 90px; 
        padding-right: 7px;
        float: left;
        display: block;
        border: none;
        background-size: 90px 46px !important;
      }
      #btn-ccp-img-build-html-clip {
        background: #000000 url('../img/img-to-cb-html.png') no-repeat center;
        background-size: 90px 46px;
        &:hover {
          background-image: url('../img/img-to-cb-html-hover.png');
        }
      }
      #btn-ccp-td-build-html-clip {
        background: #000000 url('../img/td-to-cb-html-icon.png') no-repeat center;
        &:hover {
          background-image: url('../img/td-to-cb-html-icon-hover.png');
        }
      }
      #btn-ccp-table-build-html-clip {
        background: #000000 url('../img/table-to-cb-html-icon.png') no-repeat center;
        &:hover {
          background-image: url('../img/table-to-cb-html-icon-hover.png');
        }
      }
    }
    // VA! Global options for column 2 elements
    .ccp-options-col-2 {
      left: 120px;
      width: 230px;
      label  {
        width: 60px;
        margin-bottom: 5px;
        padding-right: 2px;
        text-align: right;
      }
      input {
        width: 150px;
      }

    }
    .ccp-options-col-3 {
      left: 350px;
      width: 280px;
      margin-left: 10px; 
      label {
        width: 60px;
        margin-bottom: 5px;
        padding-right: 2px;
        text-align: right;
      }
      
      // VA! Custom checkbox

      .ccp-img-include-css-container, .ccp-td-bgimage-container, .ccp-table-include-wrapper-container  {
        width: 100%;
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 3px;
        cursor: pointer;
        // font-size: 22px;
        text-align: left;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 100;
        a {
          font-weight: bold;
          text-decoration: underline;
        }
      }
      /* Hide the browser's default checkbox */
      .ccp-img-include-css-container input,.ccp-td-bgimage-container input, .ccp-table-include-wrapper-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom checkbox */
      #chk-ccp-img-include-css, #chk-ccp-td-bgimage, #chk-ccp-table-include-wrapper {
        position: absolute;
        top: 3px;
        left: 40px;
        height: 15px;
        width: 15px;
        background-color: #eee;
        display: block;
        z-index: 100;
      }
      
      /* On mouse-over, add a grey background color */
      .ccp-img-include-css-container:hover input ~ #chk-ccp-img-include-css, .ccp-td-bgimage-container:hover input ~ #chk-ccp-td-bgimage, .ccp-table-include-wrapper-container:hover input ~ #chk-ccp-table-include-wrapper {
        background-color: #ccc;
      }
      /* When the checkbox is checked, add a gray background */
      .ccp-img-include-css-container input:checked ~ #chk-ccp-img-include-css, .ccp-td-bgimage-container input:checked ~ #chk-ccp-td-bgimage, .ccp-table-include-wrapper-container input:checked ~ #chk-ccp-table-include-wrapper {
        background-color: #5f5e5e;
      }

      /* Create the checkmrk/indicator (hidden when not checked) */
      #chk-ccp-img-include-css:after, #chk-ccp-td-bgimage:after, #chk-ccp-table-include-wrapper:after  {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the checkmrk when checked */
      .ccp-img-include-css-container input:checked ~ #chk-ccp-img-include-css:after, .ccp-td-bgimage-container input:checked ~ #chk-ccp-td-bgimage:after, .ccp-table-include-wrapper-container input:checked ~ #chk-ccp-table-include-wrapper:after  {
        display: block;
      }
      
      
      /* Style the checkmrk/indicator */
      .ccp-img-include-css-container #chk-ccp-img-include-css:after, .ccp-td-bgimage-container #chk-ccp-td-bgimage:after, .ccp-table-include-wrapper-container #chk-ccp-table-include-wrapper:after {
        left: 5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        
      }
      
      // VA! This is the extra label I added because the prodecure I used for the mock checkbox didn't include a label
      #ccp-img-include-css-label, #ccp-td-bgimage-label, #ccp-table-include-wrapper-label  {
        width: 220px;
        padding-left: 34px;
        text-align: left;
      }
      // VA! The Wrapper table label has to align left because it also serves as the option group heading
      #chk-ccp-table-include-wrapper,  .ccp-table-include-wrapper-label{
        margin-left: -40px;
      }
      

    }
    .ccp-options-col-4 {
      left: 620px;
      width: 70px;

      // .ccp-but-container {
      //   position: relative;
      //   width: 60px;
      //   height: 35px;
      //   margin-bottom: 10px;
      //   border: 1px solid blue;
      // }
      .ccp-but {
        display: none;
        width: 60px;
        height: 35px;
        margin-bottom: 9px;
        // border: 1px solid transparent;
        background:  none;
        cursor: default;
        border: none;
        background-size:  60px 35px !important;
        &.active {
          display: block;
          cursor: pointer;
  
        }
      }

      #btn-ccp-img-dsktp-build-css-clip-but.active {
        background:  #000000 url('../img/img-display-css-to-clipboard-icon.png') no-repeat center;
        &:hover {
          background-image:  url('../img/img-display-css-to-clipboard-icon-hover.png');
        }
      }
      #btn-ccp-img-lgphn-build-css-clip-but.active {
        background:  #000000 url('../img/img-lphone-css-to-clipboard-icon.png') no-repeat center;
        &:hover {
          background-image:  url('../img/img-lphone-css-to-clipboard-icon-hover.png');
        }
      }
      #btn-ccp-img-smphn-build-css-clip-but.active {
        background:  #000000 url('../img/img-sphone-css-to-clipboard-icon.png') no-repeat center;
        &:hover {
          background-image:  url('../img/img-sphone-css-to-clipboard-icon-hover.png');
        }
      }

      #btn-ccp-td-dsktp-build-css-clip-but.active {
        background:  #000000 url('../img/td-display-css-to-clipboard-icon.png') no-repeat center;
        &:hover {
          background-image:  url('../img/td-display-css-to-clipboard-icon-hover.png');
        }
      }
      #btn-ccp-td-lgphn-build-css-clip-but.active {
        background:  #000000 url('../img/td-lphone-css-to-clipboard-icon.png') no-repeat center;
        &:hover {
          background-image:  url('../img/td-lphone-css-to-clipboard-icon-hover.png');
        }
      }
      #btn-ccp-td-smphn-build-css-clip-but.active {
        background:  #000000 url('../img/td-sphone-css-to-clipboard-icon.png') no-repeat center;
        &:hover {
          background-image:  url('../img/td-sphone-css-to-clipboard-icon-hover.png');
        }
      }

      #btn-ccp-table-dsktp-build-css-clip-but.active {
        background:  #000000 url('../img/table-display-css-to-clipboard-icon.png') no-repeat center;
        &:hover {
          background-image:  url('../img/table-display-css-to-clipboard-icon-hover.png');
        }
      }
      #btn-ccp-table-lgphn-build-css-clip-but.active {
        background:  #000000 url('../img/table-lphone-css-to-clipboard-icon.png') no-repeat center;
        &:hover {
          background-image:  url('../img/table-lphone-css-to-clipboard-icon-hover.png');
        }
      }
      #btn-ccp-table-smphn-build-css-clip-but.active {
        background:  #000000 url('../img/table-sphone-css-to-clipboard-icon.png') no-repeat center;
        &:hover {
          background-image:  url('../img/table-sphone-css-to-clipboard-icon-hover.png');
        }
      }





    }
  }
}



// VA! 03.26.18
#table-max-width {
  display: none;

  // border: 1px solid green;
}


// Stopping here 12/6/17


/* Input placeholder */
//Get rid of these vendor prefixes
#ccp input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #959595;
  font-style: italic;
}
#ccp input::-moz-placeholder { /* Firefox 19+ */
  color: #959595;
  font-style: italic;
}
#ccp input:-ms-input-placeholder { /* IE 10+ */
  color: #959595;
  font-style: italic;
}
#ccp input:-moz-placeholder { /* Firefox 18- */
  color: #959595;
  font-style: italic;
}

// CCP CLose Button
#ccp-close {
  position: absolute;
  top: 450px;
  right: 20px;
  width: 80px;
  float: right;
  background-image: url(../img/close-icon.png);
  background-repeat: no-repeat;
  background-position: center right;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 1;
}


// Separators =========================================
.separator1 {
  width: 100%;
  height: 9px;
  border-top: 3px solid $whit-color;
  border-bottom: 3px solid $dim-color;
}



.page-content-heading {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  // border: 1px solid green;
  p.tl-dr {
    color: #979595;
    font-family: $primary-font-family;
    font-size: 48px;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    span.dim-color {
      color: $dim-color;
    }
    span.whit-color {
      color: $whit-color;
    }
  }
}




figure {
  position: relative;
  margin: 15px 0 !important;
  padding: 0 0 10px;
  border-top: 1px solid $dim-color;
  border-bottom: 1px solid $whit-color;
  &.qs-clipboard-functions {
    position: relative;
    width: 100%;
    // !VA CLEARFIX! WORKS!
    &::after {
      display: block;
      clear: both;
      content: '';
    }
    .qs-clipboard-functions-left {
      display: block;
      position: relative;
      width: 50%;
      float: left;
    }
    .qs-clipboard-functions-right {
      display: block;
      position: relative;
      width: 50%;
      float: left;
    }

  }
  
  h4 {
    margin-bottom: 5px;
    font-size: 18px;
    font-style: italic;
  }
  img {
    margin-bottom: 10px;
    &.qs-inspector-content {
      width: 800px;
      height: 102px;
    }
    &.qs-image-resize-tools {
      width: 646px; 
      height: 50px;
    }
    &.qs-ccp-but {
      width: 85px;
      height: 50px;
      float: left;
      margin: 0 20px 10px 0;
    }
  }
  figcaption, aside {
    margin-top: 5px;
    font-size: 16px;
    line-height: 19px;
    &.qs-ccp-but-caption {
      min-height: 60px;
      margin-bottom: 15px;
      padding-right: 50px;
    }
  }
 

  img {
    &.qs-viewer-width-icon {
      vertical-align: -12px;
    }
  }
  img {
    &.viewer-width-field {
      width: 146px;
      height: 50px;
    }
  }
}




// Page Content =========================================

.content-section {
  // height: 600px;
  display: block;
  margin: 0 auto 50px;
  max-width: 768px;
  padding: 0 30px;
@media (min-width: 576px) { 
  max-width: 768px;
}
@media (min-width: 768px) {
  max-width: 992px;
 }
@media (min-width: 992px) {
  max-width: 1200px;
 }
@media (min-width: 1200px) { }

  h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    margin-top: 35px;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: bold;
  }
  h4, li, p {
    color: #535353;
    font-size: 21px;
  }
  span.note {
    color: #959595;
    font-weight: bold;
  }
  span.ui-element {
    color: #000000;
    // font-weight: bold;
  }
  img {
    &.qs-viewer-width-icon {
      width: 30px;
      height: 18px;
      // vertical-align: -12px;
    }
    &.qs-image-button-icon {
      width: 26px;
      height: 18px;
      // vertical-align: -12px;
    }
    &.qs-clipboard-but-icon {
      width: 24px;
      height: 21px;
      // vertical-align: -12px;
    }
  }
  ul.new-features li {
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
  }
}


.video {
  position: relative;
  width: 720px;
  iframe {
    display: block;
    position: relative;
    margin: 0 auto;
  }
}

/* TEST */
#test-container {
  display: block;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

#test-left {
  float: left;
  width: 390px;
  height: 100%;
}

#test-right {
  float: right;
  width: 390px;
  height: 100%;
}

#test-right * {
  border: 1px solid magenta;
}

