// VA! Dev styles
.devred { border: 1px solid red !important; }
.devblue { border: 1px solid blue !important; }
.devgreen { border: 1px solid green !important; }
.devmag { border: 1px solid magenta !important; }

// VARIABLES - COLOR
$primary-bg-color:                #337AB7;
$primary-font-color:              #FFF;
// HEADER
$logo-color:                      #AD1310;
$logo-font:                        'Titillium Web', 'Lucida Grande', 'Lucida', sans-serif;
$header-subtext-color:            #959595;

// APP IMAGE TOOLBAR
$image-toolbar-bkgd-color:        #FFF;


//APP INSPECTORS
$inspector-font-color:             rgba(160, 160, 160, 1);              
$inspector-pop-font-color:         rgba(255, 255, 255, .9);
// VA! Red 139,0,0
$inspector-hover-color:            #e29b02;
$inspector-shift-hover-font-color: rgba(255, 255, 255, .9);  
$inspector-ctrl-hover-font-color:  rgba(255, 255, 255, .9); 
$filename-viewer-font-color:       rgba(255, 255, 255, .8);

//APP TOOLTIPS
$tooltip-bg-color:                rgba(107, 107, 107, .9);
$tooltip-font-color:              #FFF;
$tooltip-border-color:            #555 transparent transparent transparent;


//APP CCP
$fieldset-border-color:           #959595;
$fieldset-legend-color:           #959595;


// VARIABLES - TYPOGRAPHY
$primary-font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$inspector-font-family: 'Ubuntu', Arial, Helvetica, sans-serif;

// VA! OVERLAY
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: .2;
}

// VA! STYLES
// VA! Reboot: box-sizing from Bootstrap in case I decide to remove Bootstrap
* {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}

// VA! Got rid of Bootstrap hopefully for good 051220
// VA! Reboot: Overriding the default Bootstrap root font size of 10px
html {
  font-size: 16px;
  box-sizing: border-box;
  &.modifier-pressed {
    cursor: help !important;
  }
}

body {
  // VA!Reboot: not sure what this does.
  min-height: 100% !important; 
  color: #333;
  font-family: $primary-font-family;
  // VA! From normalize.less 
  font-size: 1rem;
  line-height: 1.42857143;
}

// VA! From Bootstrap 3
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

// VA! Reboot: only for content, probably can delete
span.code {
  font-family: 'Courier New', monospace;
}

// VA! Reboot: not sure what this does
// FIX
button:disabled  {
  opacity: .45;
  cursor: not-allowed;
}

.output {
  border: 1px solid magenta;
}

// VA! Get rid of the default decrement/increment arrows on input elements of type number 
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


// VA! From buttons.less
// VA! 08.13.20
// VA! .btn is deprecated. Moved all the common button properties to .btn-default. Now I have toolbar-btn specifically for the toolbar buttons and can make ccp-btn to target the CCP buttons
// .btn {
  // display: inline-block;
  // VA! 08.13.20
  // VA! Deprecating .btn
  // padding: 6px 12px;
  // margin-bottom: 0;
  // font-size: 14px;
  // font-weight: 400;
  // line-height: 1.42857143;
  // text-align: center;

  // VA! 08.13.20
  // VA! Moved to btn-default
  // white-space: nowrap;
  // vertical-align: middle;
  // -ms-touch-action: manipulation;
  // touch-action: manipulation;
  // cursor: pointer;

  // VA! Comment this out so the Toolbar inputs behave normally, i.e. collapse the selection at the first mouseclick after selection
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  // background-image: none;

  // VA! 08.13.20
  // VA! Moved to btn-default
  // border: 1px solid transparent;
  // border-top-color: transparent;
  // border-right-color: transparent;
  // border-bottom-color: transparent;
  // border-left-color: transparent;
  // border-radius: 4px;
// }

// VA! From bootstrap 3
.btn-default {
  display: inline-block;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-color: #ccc;
  border-radius: 4px;
  // VA! 08.13.20
  // VA! Don't understand why border-color here doesn't overwrite border-top-color and the rest of the border edge selectors.
  background-color: #fff;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  
}

.navbar-container {
  position: relative;
  height: 40px;
  margin-bottom: 3px;
  border-bottom: 1px solid $primary-bg-color;
  background: $primary-bg-color;
}

.navbar {
  display: block;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  li {
    display: block;
    float: left;
    a {
      color: $primary-font-color;
    }
  }
}

// HERO/HEADER
.header-container {
  display: block;
  position: relative;
  width: 100%;
  height: 65px;
  margin: 0 auto 40px;
  padding-bottom: 5px;
}

.header-isolate-app {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  // border: 5px solid #959595;
  // border-radius: 10px;
  padding: 5px 5px 0 10px;
  z-index: 100;
  &:hover {
    cursor: nw-resize;
  }
  img {
    width: 30px;
    height: auto;
  }

}

.header-content {
  display: flex;
  position: relative;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  padding: 0 0 0 60px;
}

.header-text {
  width: 500px;
}

.header-headline {
  position: relative;
  width: 440px;
  height: 46px;
  float: left;
}

.header-image {
  position: relative;
  // top: 0;
  width: 70px;
  height: 90px;
  margin-top: 5px;
  margin-left: -8px;
  float: left;
  // VA! z-index is for the 'runMe' link, only for dev
  z-index: 100;
  img {
    width: 100%;
    height: auto;
  }
}

.header-logo {
  position: relative;
  width: 225px;
  height: 32px;
  h1 {
    top: 0;
    margin: 0;
    padding: 0;
    color: $logo-color;
    // color: #F24747;
    font-family: $logo-font;
    font-size: 32px;
    font-weight: bold;
  }
  .header-version {
    position: absolute;
    font-size: 12px;
    top: 17px;
    right: 0;
    p {
      color: #959595;
      margin: 0;
      padding: 0;
    }
  }
}


.header-slug {
  position: relative;
  width: 100%;
  h2 {
    width: 100%;
    margin-top: 6px;
    padding: 0;
    color: $header-subtext-color;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
  }
}

.initial-cap {
  color: $logo-color;
  font-size: 110%;
  font-weight: 800;
}

// APP-CONTAINER
#app-container {
  display: block;
  position: relative;
  // VA! This yields a viewport width of 802, which allows a user-entered width of 800 max
  width: 860px;
  min-height: 725px;
  margin: 45px auto 0;
}
// VA! Add a blocker overlay to prevent user input while error and status messages are showing. Tooltip messages don't need the blocker since they depend on user input, not setTimeOut, to show and hide.
#app-blocker {
  display: none;
  position: absolute;
  top: -5px;
  left: 0;
  width: 850px;
  height: 720px !important;
  background: transparent;
  z-index: 999;
  &.active {
    display: block;
  }
}

// TOOLS
// VA! Reboot 
#toolbar-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  &.show-err {
    transform: translate(0, 50px);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  &.hide-err {
    transform: translate(0, 0);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
}

// UL -- Toolbar button container 
.toolbar-buttons {
  // z-index: -1;
  display: flex;
  // display: none;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  // VA! Reboot: replacing all the element selectors with class selectors and removing their parent li selector from the hierarchy
  // VA! 08.13.20
  // VA! buttons.less is no more I think, so this can go away
  // .btn {
    // VA! Overrides Bootstrap default padding in buttons.less
    // padding: 0;
  // }
  // VA! Reboot: deleted input selector, moved input styling to class .toolbar-input
  // .toolbar-input {
  //   width: 50px;
  //   // VA! 08.13.20
  //   // VA! Changed from 32 so it's now a dupe of .toolbar-but
  //   height: 30px;
  //   margin: 0;
  //   padding: 0;
  //   font-size: 14px;
  //   font-style: italic;
  //   line-height: 18px;
  //   text-align: center;
  // }
  // VA! Reboot: Style all the toolbar buttons
  // VA! 08.13.20
  // VA! toolbar-input is deprecated. Moved all the toolbar button styles into .toolbar-but.
  .toolbar-but {
    width: 50px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: center;
  }
  // VA! Reboot: deleted img selector, moved img styling to class .toolbar-but
  // VA! Reboot: deleted .divider child selector under input selector, moved divider styling to class .divider
  .divider {
    width: 5px;
    height: 18px;
    margin: 0 7px;
    opacity: .2;
  }
  // VA! Reboot: deleted img element in HTML and set the background image of each toolbar-button to its corresponding image
  #btn-tbr-incr50 {
    background-image: url('../img/incr50-button.png');
  }
  #btn-tbr-incr10 {
    background-image: url('../img/incr10-button.png');
  }
  #btn-tbr-incr01 {
    background-image: url('../img/incr01-button.png');
  }
  #btn-tbr-decr01 {
    background-image: url('../img/decr01-button.png');
  }
  #btn-tbr-decr10 {
    background-image: url('../img/decr10-button.png');
  }
  #btn-tbr-decr50 {
    background-image: url('../img/decr50-button.png');
  }
  // VA! Reboot: Deleted #tb-but-mobile-swap 
  #ipt-tbr-imgviewerw {
    width: 80px;
    padding-left: 35px;
    background: url('../img/table-icon.png') no-repeat scroll 7px 7px;
  }
  #ipt-tbr-sphonesw {
    width: 70px;
    padding-left: 30px;
    background: url('../img/small-phones-toolbar-icon.png') no-repeat scroll 12px 2px;
    background-size: 15px 26px;
  }
  #ipt-tbr-lphonesw {
    width: 85px;
    padding-left: 35px;
    background: url('../img/large-phones-toolbar-icon.png') no-repeat scroll 7px 2px;
    background-size: 34px 24px;
  }
}

// TODO: Nest this under toolbar-buttons so that the JS works to make it
// disappear on focus
// VA! Reboot: I don't know what this does.
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */




// IMAGE-VIEWPORT- contains dim viewer, dim-error-container and ccp
#image-viewport {
  display: block;
  position: absolute;
  top: 40px;
  width: 850px;
  height: 679px;
  // width: 100%;
  // height: 1170px !important;
  // !VA Setting min height here because anything less than 679px won't make enough room for CCP
  min-height: 679px !important;
  margin: 0 auto;
  border-top: 110px solid #000;
  border-right:  24px solid #000;
  border-bottom:  24px solid #000;
  border-left:  24px solid #000;

  border-radius: 10px;
  // overflow: auto;
  background: #E1E1E1 url('../img/html-email-icon-blue.png') repeat;
  z-index: 2;
}

// INSPECTORS
#inspector-container {
  display: flex;
  position: absolute;
  top: 50px;
  justify-content: space-evenly;
  width: 850px;
  height:  95px;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: $inspector-font-color;
  // VA! Testing
  overflow: hidden;
  z-index: 3;
  // VA! Reboot: I can't remember what this does.
  &.show-err {
    transform: translate(0, -85px);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  &.hide-err {
    transform: translate(0, 0);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
}
.inspectors-left-col, .inspectors-right-col, .inspectors-center-col {
  display: flex;
}
.inspector-list {
  width: 240px;
  margin: 0;
  padding: 0;
}
.inspectors-left-col {
  justify-content: flex-end;
  width: 280px;
  margin-top: 3px;
}
.inspectors-right-col {
  justify-content: flex-end;
  width: 300px;
  margin-top: 3px;
}
.inspectors-center-col {
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}
.inspector {
  padding: 2px 2px 2px 0;
  border: 0;
  // VA! Reboot: default pop-font, inherited in writeInspectorAlerts
  font-family: $inspector-font-family;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  list-style-type: none;
  // VA!Hover on clickable Inspector value elements
  .inspector-click {
    &:hover {
      color: $inspector-hover-color !important;
      cursor: pointer;
    }
  }
}

// VA! Disabled element classes
// VA! Labels, inputs
.disabled {
  font-style: italic;
  color: #959595 !important;
}
// VA! Radio buttons
.disabled-radio {
  opacity: .4 !important;
}

.disable-checkbox {
  color: #959595 !important;
  pointer-events: none;
}

.inspector-content, .inspector-label, .inspector-x, .no-image  {
  display: inline;
}

.inspector-x {
  display: none;
}

#btn-toggle-ccp {
  display: block;
  width: 40px;
  height: 47px;
  margin: 15px auto 0;
  border: 0;
  background-color: transparent;
  background-image: url('../img/clipboard.png');
  background-position: center top;
  background-size: 40px 47px; 
  &.active {
    // VA! Reboot: bg image not swapping on active and the image is misnamed - it should be clipboard-active. There should be a different hover image.
    background-image: url('../img/clipboard-hover.png');
  }
}
#ins-filename {
  height: 22px;
  color: $filename-viewer-font-color;
  font-size: 1rem;
  text-align: center;

}

.pop-font {
  // VA! Reboot: Pop font for Inspector
  // VA! Need the important hack to override the alert style set in writeInspectorAlerts
  color: $inspector-pop-font-color !important;
}

// APP ERROR DISPLAY
#app-message-container {
  display: flex;
  // flex-direction: column;
  position: relative;
  top: -40px;
  // top: 0px;
  left: 0;
  width: 100%;
  height: 35px;
}

#tip-content, #err-content, #msg-content {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity .125s;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.125rem;
  text-align: center;
  opacity: 0;
  z-index: -1;
  &.active {
    transition: opacity .125s;
    opacity: 1;
  }
}

#tip-content {
  color: #04508e;
}
#err-content {
  color: #FF0000;
}
#msg-content {
  color: #959595;
}

// MAIN IMAGE VIEWER
#main-image-viewer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 650px;
  height: 450px;
  // !VA Width and height should only be set programmatically
  transform:  translateY(-50%) translateX(-50%);
  background: #e1e1e1 url('../img/html-email-icon-white.png') repeat;
}

#main-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translateY(-50%) translateX(-50%);
  z-index: -1;
  // The displayed img
  #main-img {
    border: 1px dotted #959595;
  }
  // DROP AREA
  #drop-area {
    // VA! display: flex is set programmatically
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 600px;
    min-height: 400px;
    border: 2px dashed #bbb;
    border-radius: 10px;
    .witty {
      color: #6a6a6a;
      font-size: 110%;
    }
  }
}

.drop-callout {
  display: block;
  position: relative;
  width: 100%;
  height: 70px;
  margin-top: 0;
  padding: 15px 25px;
  color: #959595;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
.drop-area-content {
  display: block;
  margin: 0 20px 10px 40px;
  color: #959595;
  font-size: 1.125rem !important;
  line-height: 1.365rem;
  text-align: left;
  a {
    color: inherit;
    text-decoration: underline;
  }
}

// :VA Not sure where this goes
output {
  // :VA override bootstrap default -- !important required here
  padding: 0 !important;
}

// :VA Not sure where this goes
#ipad-container {
  position: absolute;
  top: -72px;
  left: -86px;
}

// CLIPBOARD CONTROL PANEL

#ccp {
  position: relative;
  width: 98%;
  height: 530px;
  margin: 6px auto 0;
  padding: 0;

  // VA! 08.13.20
  // VA! Uncomment transform and transition to restore normal display
  // transform: scaleX(0);
  // transition: transform 100ms;
  border: 1px solid #161616;
  border-radius: 10px;
  background: #000000;
  cursor: default;
  opacity: .91;
  z-index: 100;
  // VA! 08.13.20
  // VA! Didn't work
  display: flex;


  // -webkit-transform: scaleX(0);
  // -webkit-transition: -webkit-transform 500ms;
  // Animation
  // Get rid of vendor prefixes
  &.active {
    // :VA Fix the vendor prefixes
    // -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  h2 {
    display: block;
    margin: 8px 0 0 0;
    padding: 0;
    color: $primary-font-color;
    font-size: 14px;
    text-align: center;
  }
}

.ccp-link {
  color: #057cc6;
  font-weight: bold;
  text-decoration: underline;
}

#ccp-content {
  // VA! Reboot: Working
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 530px;
  // margin: 0 auto;
  padding: 0 10px;
  // Character styles for CCP user text input elements
  input, label {
    display: inline-block;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
  }
  .ccp-table-include-wrapper-container {
    font-weight: 700;
  }
  select {
    width: 70px;
    font-size: 14px;
  }
  input {
    // VA! 08.13.20
    // VA! Deprecating
    // width: 150px;
    // border: 1px solid #616161;
    // background: #000000;
    // color: #FFFFFF;
  }

  input[type='radio'] {
    position: relative;
    margin-top: 6px;
  }

}


// VA! Set the width of the 4 options columns in each fieldset
fieldset {
  // VA! Reboot - Applying flex to fieldset didn't work
  display: block;
  position: relative;

  width: 100%;
  // VA! Below overrides the fieldset margin in normalize.less
  margin: 0;
  // VA! Below overrides the fieldset padding in normalize.less
  padding: 7px 0;
  // margin-bottom: 3px;
  border: 1px solid $fieldset-border-color;
  border-radius: 5px;
  legend {
    // VA! 08.13.20
    // VA! Made fieldset space narrower to close up where Options was deleted
    // VA! 08.13.20
    // VA! Width only applies to <img>, the other whitespace in the fieldset border are overridden below.
    height: 20px;
    margin: 0 0 0 20px;
    padding: 0 10px;
    border: none;
    color: $fieldset-legend-color;
    font-family: "Courier New", monospace;
    font-size: 16px;
    font-weight: 400;
  }
  &#ccp-img-options {
    height: 165px;
    legend {
      width: 70px;
      // VA! 08.13.20
      // VA! Margin overrides inherited value to close up whitespace.
      margin-left: 30px;
    }
  }
  &#ccp-td-options {
    height: 186px;
    legend {
      width: 62px;
      // VA! 08.13.20
      // VA! Margin overrides inherited value to close up whitespace.
      margin-left: 30px;
    }
  }
  &#ccp-table-options {
    height: 168px;
    legend {
      width: 85px;
      margin-left: 30px;
    }
  }
}

// VA! 08.13.20
// VA! START HERE
// VA! This fixes the discrepancy between Firefox and Chrome with the alignment of the ccp-columns
.ccp-options-container {
  display: flex;
  position: relative;
  align-content: flex-start;
  justify-content: space-between;
  // VA! 08.13.20
  // VA! This is where you set the height of the individual fieldsets. The fieldset height is dynamic and gets the height from its content.
  height: 150px;
  // border: 1px solid blue;
  // VA! Make clip buttons are absolutely positioned 
  .clipboard-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -6px;
    right: 0;
    align-items: center;
    justify-content: space-evenly;
    width: 178px;
    height: 95px;
    z-index: 100;
  }

  .td-options-group {
    display: flex;
    position: relative;
    top: 45px;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  // VA! 08.13.20
  // VA! Standard properties for all options sections in all three fieldsets
  // VA! flex-direction = column arranges the child rows of content in a single column with the first column at the top. 
  .ccp-options {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    // VA! Standard properties for all child rows in the options groups 
    .ccp-row {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 8px;
    }
  }

  // VA! img options is two-columns of equal width
  #img-options-left,  #img-options-right {
    width: 50%;
  }
  // VA! td and table options are three column, with the outer columns slightly wider than the center
  #td-options-left {
    width: 240px;
  }
  #table-options-left {
    width: 240px;
  }
  #td-options-center {
    width: 330px;
  }
  #td-options-right {
    width: 160px;
  }
  #table-options-right {
    width: 200px;
  }
  #table-options-center {
    width: 315px;
    display: flex;
    justify-content: flex-start;
  }
  #ccp-tbl-wrapr-ctn {
    position: relative;
    display: block;
    width: 72px;
  }

  #table-options-center-wrapper-options {
    width: 240px;
  }
}


// VA! ICON GROUPS
// ================
// VA! ALIGN
// VA! Width and height of all align and valign icon wrappers
// VA! 08.19.20
// .ccp-align-container {
.ccp-align-ctn {
  width: 130px;
}

// VA! PADDING
// VA! TD Padding input group
// VA! 08.19.20
.ccp-padng-ctn {
  position: absolute;
  top: -8px;
  right: 22px;
  width: 128px;
  height: 80px;
  .td-padding-row {
    display: flex;
    justify-content: center;
  }
}
// VA! 


.ccp-pdng-icn-ctr {
  position: relative;
  display: block;
  width: 44px;
  height: 25px;
}

#ccp-pdng-icn-img {
  display: block;
  margin: 0 auto;
  width: 25px;
  height: 25px;
}

// VA! 08.19.20
// VA! SELECT ICON GROUPS i.e. align-icon-group/ccp-align-rdo container and td-option select-icon-group container. Emulates the radio input group functionality, replacing the radio buttons with icons. The input element is hidden using the appearance property (display or visibility would affect accessibility).
// VA! Note that flex justify-content: -space-between also includes the hidden input elements with appearance: none, so the flex elements do not align left in the container as they should. To adjust the whitespace at the left of the container, adjust the parent container width. 
// VA! TD OPTIONS
// VA! TD Options select icons
#td-options-center-row-3 {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 62px;
}

// VA! Width of TD options icons container
.ccp-optns-ctn {
  position: absolute;
  top: 22px;
  // VA! Compensate for whitespace created by hidden input element
  left: -13px;
  width: 280px;
  height: 44px;
}

// VA! Width of align
// .ccp-align-rdo, .align-icon-group, .select-icon-group {
.ccp-align-rdo, .ccp-optns-rdo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 101;
}

// VA! 08.13.20
// VA! Binary Radio Buttons, i.e. img-include, img-type
#img-options-bnary {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -4px;
  left: 57px;
  width: 100px;
  height: 100px;
}

.ccp-bnary-ctn {
  width: 100%;
  height: 100%;
}

.ccp-bnary-rdo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

// VA! here
#img-anchr-options {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top:  99px;
  left: 5px;
  width: 180px;
}

#ccp-img-targt-ctn {
  display: flex;
  justify-content: center;
  position: relative;
  display: block;
  width: 50px;
  height: 30px;
}


// VA! Default icon group input style - only the icon itself should display, so hide the input element. Using the appearance property - display and visibility don't work as expected and opacity cuts off a slice from the icon. If there are browser compatibility issues, revisit this, but it works on modern desktop browsers: https://caniuse.com/#feat=css-appearance.
// VA! Chose to list all the unique input parent classes here instead of using a catch-all class in order to have them all in one place to facilitate an at-a-glance overview of the individual unique input classes.  
.ccp-toggl-chk input, .ccp-align-rdo input, .ccp-optns-rdo input, .ccp-bnary-rdo input {
  margin: 0;padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  margin: 0;
  padding: 0;
  // VA! Set the opacity of the element after the selected input element with the class .align-but to .9. Uses the + (adjacent element) selector to select the label element that occurs after the input element in the HTML.
  // VA! 08.19.20
  // &:active +.align-btn, &:active +.ccp-radio-lbl, &:active +.binary-btn, &:active +.toggle-btn {
    &:active +.ccp-radio-lbl, &:active +.ccp-chkbx-lbl {
    opacity: .9;
  }
  // VA! Set the filter attribute of the element after the selected input element with the class .align-but to none. Uses the + (adjacent element) selector to select the label element that occurs after the input element in the HTML.
  // &:checked +.align-btn, &:checked +.ccp-radio-lbl, &:checked +.binary-btn, &:checked +.toggle-btn {
    &:checked +.ccp-radio-lbl, &:checked +.ccp-chkbx-lbl {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
  }
}

// VA! 08.19.20
// .align-btn, .align-none, .ccp-radio-lbl, .binary-btn, .toggle-btn {
.ccp-radio-lbl, .ccp-chkbx-lbl, .ccp-align-non-lbl {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  // VA! We can get white with this mod, so I don't think we even need the white PNG -- this should work universally:
  // -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  // -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  //      filter: brightness(1.8) grayscale(1) opacity(.7);
  -webkit-filter: brightness(3) grayscale(1) opacity(1);
     -moz-filter: brightness(3) grayscale(1) opacity(1);
          filter: brightness(3) grayscale(1) opacity(1);
}
// VA! 08.19.20
  .ccp-radio-lbl:hover, .ccp-chkbx-lbl:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}

// VA! 08.19.20
// .align-none {
.ccp-align-non-lbl {
  // VA! Override the default styling of the align-none labels -- these labels should be displayed in blue because they're only used to cancel selected align or valign elements.
  -webkit-filter: brightness(3) grayscale(1) opacity(1) !important;
  -moz-filter: brightness(3) grayscale(1) opacity(1) !important;
  filter: brightness(3) grayscale(1) opacity(1) !important;
}


// VA! 08.20.20
// VA! Set icon size for child label elements of the align radio group parent
#ccp-img-align-rdo, #ccp-tda-align-rdo, #ccp-tda-valgn-rdo, #ccp-tbl-align-rdo, #ccp-tbw-align-rdo {
  label {
    width: 25px; 
    height: 25px;
  }
}

// VA! 08.20.20
// VA! Set icon size for child label elements of the tda optns radio group parent
#ccp-tda-optns-rdo {
  label {
    width: 35px !important; 
    height: 35px !important;
  }
}

// VA! 08.20.20
// VA! Set icon size for child label elements of the img-excld and img-itype radio group parent
#ccp-img-excld-rdo, #ccp-img-itype-rdo {
  label {
    width: 40px !important; 
    height: 40px !important;
  }
}

// VA! Active class transition and checked style. Removes the filter that changes icon color to white, revealing the natural blue icon color. This style should be present for all CCP input elements. Not only does it toggle the checked/selected state of checkbox and radio icons, but it also toggles the state of icons whose text input fields aren't empty, i.e. have a text input. 
.active {
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  // VA! We can get white with this mod, so I don't think we even need the white PNG -- this should work universally:
  -webkit-filter: none !important;
  -moz-filter: none !important;
       filter: none !important;

}
// VA! Hover style for icons. 
// // VA! DEPRECATING: this hover state should NOT be active for text input icons. They should ONLY receive a color when there is an input in the respective text input field. 
// .ccp-ipt-lbl:hover {
//   -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
//      -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
//           filter: brightness(1.2) grayscale(.5) opacity(.9);
// }



// VA! 08.13.20
// VA! CCP INPUT ELEMENTS
// VA! -------------------
// VA! Default formatting for CCP input wrappers. Applies all CCP elements. 
// VA! 08.21.20
.ccp-ctn {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px; 
  background: #000000;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
}

// VA! 08.13.20
// VA! Standard width for all the class input wrappers 
// VA! 08.19.20
.ccp-class-ctn {
  width: 240px;
}
// VA! Standard width for all CCP class input elements. 
// VA! 08.19.20
.ccp-class-ipt {
  width: 194px;
}

// VA! Icon size for all input labels. ccp-ipt-label could probably be improved on as a name, it's not semantically transparent. Although it does reflect that this size only apples to the icons that accompany input elements. They should have the same class name as the icons in the IMG section, which are also ccp-ipt-lbl, so I guess that works.
// VA! 08.19.20
.ccp-ipt-lbl, .ccp-chkbx-lbl {
  display: inline-block;
  width: 25px;
  height: 25px;
  // VA! Input icons don't get the hover pointer - they're not clickable.
  // cursor: pointer;
  // VA! Transforms blue icon to white - default behavior
  -webkit-filter: brightness(2) grayscale(1) opacity(1);
  -moz-filter: brightness(2) grayscale(1) opacity(1);
  filter: brightness(2) grayscale(1) opacity(1);
}

.ccp-chkbx-lbl {
  // VA! Checkbox icons get the hover pointer
  cursor: pointer;
}

// VA! Defaults for all CCP input/button elements
// VA! 08.19.20
.ccp-ipt, .ccp-btn {
  display: block;
  position: relative;
  height: 25px;
  margin-left: 10px;
  padding-left: 10px;
  border: 1px solid #959595;
  // VA! Get rid of focus outline
  outline: 0;
  background: transparent;
  opacity: 1;
}

// VA! WIDE CCP Inputs
// VA! 08.19.20
// VA! Wide input elements in the IMG section get their width from the parent, i.e. the row, which gets it from the options group container. So the inputs below have the same width as the left 2-column options container.
.ccp-altxt-ctn, .ccp-anchr-ctn, .ccp-loctn-ctn  {
  width: 100%;
}
// VA! 08.19.20
// VA! As above, IMG input element width equals the width of the left 2-column options container
.ccp-altxt-ipt, .ccp-anchr-ipt, .ccp-loctn-ipt {
  width: 100%;
}

// VA! Regular CCP Inputs containers, i.e. width, max-width and anything that can take a hex value
.ccp-reglr-ctn {
  width: 120px;
}

// VA! Regular CCP inputs, i.e. i.e. width, max-width and anything that can take a hex value
.ccp-reglr-ipt {
  width: 75px;
}

// VA! Narrow inputs, i.e. padding input fields
.ccp-small-input {
  width: 40px;
  // VA! Override the margin and padding in .ccp-btn
  margin: 0 !important;
  padding: 5px !important;
}

// VA! Toggle icon, i.e. table wrapper button, ghost and DPI
#ccp-tbl-ghost-chk, #ccp-tbl-msdpi-chk, #ccp-tbw-ghost-chk, #ccp-tbw-msdpi-chk {
  label {
    width: 30px;
    height: 30px;
    border: 1px solid blue;
  }
}

// VA! WRAPPER Icon Button
// VA! Include wrapper checkbox icon container
// VA! 08.20.20
#ccp-tbl-wrapr-ctn {
  position: relative;
  top: 25px;
  width: 100%;
  height: 55px;
}

// VA! Include wrapper checkbox icon
.wrapr-lbl {
  display: block;
  position: relative;
  top: 14px;
  width: 50px;
  height: 25px;
  margin: auto;
  transform: rotate(-45deg);
}

// VA! 08.21.20
// VA! Deprecated
// VA! Checkbox icons {
// .ghost-chk, .msdpi-chk {
//   display: block;
//   position: relative;
//   top: 4px;
//   width: 30px;
//   height: 30px;
//   margin: auto;
// }

// VA! Background image properties for input element icons
.ccp-ipt-lbl {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// VA! 08.19.20
// VA! Background images are attached to the ID of the element label unless the same image is used for multiple elements, i.e. class, width etc. In that case, the image is attached to a class name.
.ccp-class-lbl { background-image: url('../img/icon-class-blue.png')}
// VA! ALT Input
#ccp-img-altxt-lbl { background-image: url('../img/icon-alt-blue.png')}
// VA! ANCHOR Input
#ccp-img-anchr-lbl { background-image: url('../img/icon-anchor-blue.png')}
// VA! LOCATION Input
#ccp-img-loctn-lbl { background-image: url('../img/icon-location-blue.png')}
// VA! WIDTH Input
.ccp-width-lbl { background-image: url('../img/icon-width-blue.png')}
// VA! HEIGHT Input
#ccp-tda-heigt-lbl { background-image: url('../img/icon-height-blue.png')}
// VA! BACKGROUND COLOR Input
.ccp-bgclr-lbl { background-image: url('../img/icon-background-color-blue.png')}
// VA! FONT COLOR Input
// #ipt-ccp-td-fontcolor-label {
.ccp-txclr-label { background-image: url('../img/icon-font-color-blue.png')}
// VA! BORDER Input
#ccp-tda-bdrad-lbl { background-image: url('../img/icon-border-radius-blue.png')}
// VA! BORDER COLOR Input
#ccp-tda-bdclr-lbl { background-image: url('../img/icon-border-color-blue.png')}
// VA! MAX WIDTH Input
.ccp-maxwd-lbl { background-image: url('../img/icon-maxwidth-blue.png') center center/cover no-repeat #000000;}
// VA! ALIGN  
.ccp-align-non-lbl { background-image: url('../img/icon-align-none-blue.png');}
.ccp-align-lft-lbl { background-image: url('../img/icon-align-left-blue.png');}
.ccp-align-ctr-lbl { background-image: url('../img/icon-align-center-blue.png');}
.ccp-align-rgt-lbl { background-image: url('../img/icon-align-right-blue.png');}
// VA! VALIGN  
.ccp-valgn-top-lbl { background-image: url('../img/icon-valign-top-blue.png');}
.ccp-valgn-mdl-lbl { background-image: url('../img/icon-valign-middle-blue.png');}
.ccp-valgn-btm-lbl { background-image: url('../img/icon-valign-bottom-blue.png');}
// VA! TD OPTIONS
#ccp-tda-basic-lbl { background-image: url('../img/icon-td-basic-blue.png');}
#ccp-tda-iswap-lbl { background-image: url('../img/icon-td-imgswap-blue.png');}
#ccp-tda-swtch-lbl { background-image: url('../img/icon-td-posswitch-blue.png');}
#ccp-tda-bgimg-lbl { background-image: url('../img/icon-td-bgimage-blue.png');}
#ccp-tda-vmlbt-lbl { background-image: url('../img/icon-td-vmlbutton-blue.png');}
// VA! IMG EXCLD
#ccp-img-incld-lbl { background-image: url('../img/icon-include-image-blue.png');}
#ccp-img-excld-lbl { background-image: url('../img/icon-exclude-image-blue.png');}
// VA! IMG ITYPE
#ccp-img-fixed-lbl { background-image: url('../img/icon-fixed-blue.png');}
#ccp-img-fluid-lbl { background-image: url('../img/icon-fluid-blue.png');}
// VA! TABLE WRAPPER
#ccp-tbl-wrapr-lbl { background-image: url('../img/icon-wrapper-blue.png'); }
// VA! GHOST
.ghost-lbl { background-image: url('../img/icon-ghost-blue.png')}
// VA! MSDPI
.msdpi-lbl { background-image: url('../img/icon-120dpi-blue.png') }
#ccp-img-targt-lbl { background-image: url('../img/icon-bullseye-blue.png'); }

// VA! CLIPBOARD BUTTON GROUP
// VA! Parent container properties are defined in .ccp-options-container
// VA! Curly braces at l/r of Make CSS Clip buttons in Clipboard Buttons section
.btn-ccp-make-css-rule-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: -2px;
  &::before { content: '{'; }
  &::after { content: '}'; }
  &::before, &::after {
    margin-top: -3px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    vertical-align: -8px;
  }
}

// VA! Make HTML button
.make-html-but {
  // VA! Not sure what the actual dimensions are. I just eyeballed it.
  position: relative;
  width: 92px;
  height: 48px;
  border: 0;
  background-color: transparent;
  background-size: 92px 48px !important;
  margin-bottom: 5px;
}
// VA! Make CSS buttons
.make-css-but {
  position: relative;
  top: -2px;
  width: 45px;
  height: 35px;
  border: 0;
  background-color: transparent;
  // VA! Need the important hack because otherwise the background size is defined in the ID of the respective button element below
  background-size: 45px 35px !important;
}

// VA! Define all the CCP Make Clip button images and their hovers
// VA! 08.13.20 
// VA! Hovers might not be needed if we use the filter technique, see the align buttons
#btn-ccp-make-img-tag {
  background: #000000 url('../img/img-to-cb-html.png') no-repeat center;
  &:hover {
    background-image: url('../img/img-to-cb-html-hover.png');
  }
}
#btn-ccp-make-td-tag {
  background: #000000 url('../img/td-to-cb-html-icon.png') no-repeat center;
  &:hover {
    background-image: url('../img/td-to-cb-html-icon-hover.png');
  }
}
#btn-ccp-make-table-tag {
  background: #000000 url('../img/table-to-cb-html-icon.png') no-repeat center;
  &:hover {
    background-image: url('../img/table-to-cb-html-icon-hover.png');
  }
}
// VA! 08.13.20
// VA! Add the active class to these to restore the functionality:
// VA! i.e. #btn-ccp-make-img-dsktp-css-rule.active {
// VA! This sucks, btw, need to apply the background images, then show/hide them with a different class
#btn-ccp-make-img-dsktp-css-rule {
  background:  #000000 url('../img/img-display-css-to-clipboard-icon.png') no-repeat center;
  &:hover {
    background-image:  url('../img/img-display-css-to-clipboard-icon-hover.png');
  }
}
#btn-ccp-make-img-lgphn-css-rule {
  background:  #000000 url('../img/img-lphone-css-to-clipboard-icon.png') no-repeat center;
  &:hover {
    background-image:  url('../img/img-lphone-css-to-clipboard-icon-hover.png');
  }
}
#btn-ccp-make-img-smphn-css-rule {
  background:  #000000 url('../img/img-sphone-css-to-clipboard-icon.png') no-repeat center;
  &:hover {
    background-image:  url('../img/img-sphone-css-to-clipboard-icon-hover.png');
  }
}

#btn-ccp-make-td-dsktp-css-rule {
  background:  #000000 url('../img/td-display-css-to-clipboard-icon.png') no-repeat center;
  &:hover {
    background-image:  url('../img/td-display-css-to-clipboard-icon-hover.png');
  }
}
#btn-ccp-make-td-lgphn-css-rule {
  background:  #000000 url('../img/td-lphone-css-to-clipboard-icon.png') no-repeat center;
  &:hover {
    background-image:  url('../img/td-lphone-css-to-clipboard-icon-hover.png');
  }
}
#btn-ccp-make-td-smphn-css-rule {
  background:  #000000 url('../img/td-sphone-css-to-clipboard-icon.png') no-repeat center;
  &:hover {
    background-image:  url('../img/td-sphone-css-to-clipboard-icon-hover.png');
  }
}

#btn-ccp-make-table-dsktp-css-rule {
  background:  #000000 url('../img/table-display-css-to-clipboard-icon.png') no-repeat center;
  &:hover {
    background-image:  url('../img/table-display-css-to-clipboard-icon-hover.png');
  }
}
#btn-ccp-make-table-lgphn-css-rule {
  background:  #000000 url('../img/table-lphone-css-to-clipboard-icon.png') no-repeat center;
  &:hover {
    background-image:  url('../img/table-lphone-css-to-clipboard-icon-hover.png');
  }
}
#btn-ccp-make-table-smphn-css-rule {
  background:  #000000 url('../img/table-sphone-css-to-clipboard-icon.png') no-repeat center;
  &:hover {
    background-image:  url('../img/table-sphone-css-to-clipboard-icon-hover.png');
  }
}

// VA! Custom, i.e Mock checkbox
/* These are the actual text labels for the checkboxes. */
.mock-checkbox-container  {
  display: block;
  position: relative;
  width: 249px;
  // padding-left: 35px;
  margin-bottom: 3px;
  // font-size: 22px;
  text-align: left;
  cursor: pointer;
  z-index: 100;
  user-select: none;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

#chk-ccp-table-include-wrapper-checkbox-label, #chk-ccp-img-include-anchor-checkbox-label {
  z-index: 100;
}

.ccp-img-include-anchor-container, .ccp-table-include-wrapper-container {
  margin-left: 30px;
}

// VA! Individual Styling for the Mock Checkboxes
/* These are the hidden browser's default checkboxes. VA! It appears they are attached to the first label element in the parent container */
.ccp-img-include-anchor-container input, 
.ccp-table-include-wrapper-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

/* Create a custom checkbox -- this is the span after the checkbox input element. */
#spn-ccp-img-include-anchor-checkmrk, 
#spn-ccp-table-include-wrapper-checkmrk {
  position: absolute;
  top: 3px;
  // left: 40px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  display: block;
  z-index: 100;
  z-index: -1;
  margin-left: -30px;

}

/* On mouse-over, add a grey background color */
.ccp-img-include-anchor-container:hover input ~ #spn-ccp-img-include-anchor-checkmrk, 
.ccp-table-include-wrapper-container:hover input ~ #spn-ccp-table-include-wrapper-checkmrk {
  background-color: #ccc;
}
/* When the checkbox is checked, add a gray background */
.ccp-img-include-anchor-container input:checked ~ #spn-ccp-img-include-anchor-checkmrk, 
.ccp-table-include-wrapper-container input:checked ~ #spn-ccp-table-include-wrapper-checkmrk {
  background-color: #5f5e5e;
}

.ccp-table-include-wrapper-container ~ #spn-ccp-table-include-wrapper-checkmrk {
  border: 1px solid magenta;
}

/* Create the checkmrk/indicator (hidden when not checked) */
#spn-ccp-img-include-anchor-checkmrk:after, 
#spn-ccp-table-include-wrapper-checkmrk:after {
  content: "";
  position: absolute;
  display: none;

}

/* Show the checkmrk when checked */
.ccp-img-include-anchor-container input:checked ~ #spn-ccp-img-include-anchor-checkmrk:after, 
.ccp-table-include-wrapper-container input:checked ~ #spn-ccp-table-include-wrapper-checkmrk:after  {
  display: block;
}

/* Style the checkmrk/indicator */
.ccp-img-include-anchor-container #spn-ccp-img-include-anchor-checkmrk:after, 
.ccp-table-include-wrapper-container #spn-ccp-table-include-wrapper-checkmrk:after {
  top: 2px;
  left: 5px;
  width: 5px;
  height: 10px;
  transform: rotate(45deg);
  border: solid white;
  border-width: 0 3px 3px 0;

}

.ccp-img-include-anchor-label {
  z-index: 111;
}

// VA! Hide the real checkbox input element so that it doesn't obscure the imgtype radio buttons below.
#chk-ccp-img-include-anchor-checkbox {
  display: none !important;
}

// VA! TD Radio buttons
#ccp-td-basictd, #ccp-td-basictd-excludeimg, #ccp-td-imgswap, #ccp-td-posswitch, #ccp-td-bgimage, #ccp-td-vmlbutton {
  display: flex;
  justify-content: flex-start;
  input {
    width: 15px;
    margin-right: 10px;
    padding-top: 5px;
  }
  label {
    width: 80%;
    margin: 0;
    line-height: 1.5rem;
    text-align: left;

  }
}

// VA! Appobj - Removing this for now.
// VA! TD options to display/undisplay based on selected radio; table wrapper options to display/undisplay when Include table wrapper checkbox is checked/unchecked
#ccp-td-align, #ccp-td-valign, #ccp-td-class, #ccp-td-height, #ccp-td-width, #ccp-td-bgcolor, #ccp-td-fontcolor, #ccp-td-bordercolor, #ccp-td-borderradius, #ccp-table-wrapper-class, #ccp-table-wrapper-width, #ccp-table-wrapper-align, #ccp-table-wrapper-bgcolor {
  // display: none;
  // &.active {
  //   display: block;
  // }
} 




// VA! Reboot: 
#ccp-table-include-wrapper-label {
  margin: 0;
  // padding: 0 0 0 34px;
  font-weight: bold !important;
}






/* Input placeholder */
//Get rid of these vendor prefixes
#ccp input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #959595;
  font-style: italic;
}
#ccp input::-moz-placeholder { /* Firefox 19+ */
  color: #959595;
  font-style: italic;
}
#ccp input:-ms-input-placeholder { /* IE 10+ */
  color: #959595;
  font-style: italic;
}
#ccp input:-moz-placeholder { /* Firefox 18- */
  color: #959595;
  font-style: italic;
}

// CCP CLose Button
#ccp-close {
  position: absolute;
  top: 450px;
  right: 20px;
  width: 80px;
  float: right;
  background-image: url(../img/close-icon.png);
  background-repeat: no-repeat;
  background-position: center right;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 1;
}



// Page Content =========================================

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 100px;
}

.content__overview {
  @include smallest  {
  
  }
  @include small  {
  
  }
  @include tablet  {
  
  }
  @include desktop  {

  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}

.content__overview-heading {
  display: block;
  text-align: center;
  width: 100%;
}


.end__matter {
  width: 100%;

}

.video {
  position: relative;
  width: 720px;
  iframe {
    display: block;
    position: relative;
    margin: 0 auto;
  }
}

// VA! 08.13.20
// VA! 



/* VA! Fix for Firefox displaying extra styling on Select elements on Linux. Note: the dropdown options still show with white text on black background but I can live with that. Thanks to: https://stackoverflow.com/questions/44147362/firefox-overriding-style-of-html-select-option
But note that it's possible that I've disabled Multiprocess (about:support) on my Windows Firefox versions. That needs to be tested before I go shooting my mouth off about this on SO.
*/
/* VA! ALSO: about the @supports rule...
https://developer.mozilla.org/en-US/docs/Web/CSS/@supports   */
@supports (-moz-appearance:none) {
  select
  {
  -moz-appearance:none !important;
  background: white url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') right center no-repeat !important;
  background-position: calc(100% - 5px) center !important;
  
  }
}


// VA! Tooltip tests
button, .btn, .btn-default {
  cursor: inherit;
}

#testme {
  &.active {
    background: yellow;
  }
}
