// VA! Dev styles
.devred { border: 1px solid red !important; }
.devblue { border: 1px solid blue !important; }
.devgreen { border: 1px solid green !important; }
.devmag { border: 1px solid magenta !important; }

// VARIABLES - COLOR
$primary-bg-color:                #337AB7;
$primary-font-color:              #FFF;
// HEADER
$logo-color:                      #AD1310;
$logo-font:                        'Titillium Web', 'Lucida Grande', 'Lucida', sans-serif;
$header-subtext-color:            #959595;

// APP IMAGE TOOLBAR
$image-toolbar-bkgd-color:        #FFF;


//APP INSPECTORS
$inspector-font-color:             rgba(160, 160, 160, 1);              
$inspector-pop-font-color:         rgba(255, 255, 255, .9);
// VA! Red 139,0,0
$inspector-hover-color:            #e29b02;
$inspector-shift-hover-font-color: rgba(255, 255, 255, .9);  
$inspector-ctrl-hover-font-color:  rgba(255, 255, 255, .9); 
$filename-viewer-font-color:       rgba(255, 255, 255, .8);

//APP TOOLTIPS
$tooltip-bg-color:                rgba(107, 107, 107, .9);
$tooltip-font-color:              #FFF;
$tooltip-border-color:            #555 transparent transparent transparent;


//APP CCP
$fieldset-border-color:           #959595;
$fieldset-legend-color:           #959595;


// VARIABLES - TYPOGRAPHY
$primary-font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$inspector-font-family: 'Ubuntu', Arial, Helvetica, sans-serif;

// VA! OVERLAY
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: .2;
}

// VA! STYLES
// VA! Reboot: box-sizing from Bootstrap in case I decide to remove Bootstrap
* {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}

// VA! Got rid of Bootstrap hopefully for good 051220
// VA! Reboot: Overriding the default Bootstrap root font size of 10px
html {
  font-size: 16px;
  box-sizing: border-box;
  &.modifier-pressed {
    cursor: help !important;
  }
}

body {
  // VA!Reboot: not sure what this does.
  min-height: 100% !important; 
  color: #333;
  font-family: $primary-font-family;
  // VA! From normalize.less 
  font-size: 1rem;
  line-height: 1.42857143;
}

// VA! From Bootstrap 3
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

// VA! Reboot: only for content, probably can delete
span.code {
  font-family: 'Courier New', monospace;
}

// VA! Reboot: not sure what this does
// FIX
button:disabled  {
  opacity: .45;
  cursor: not-allowed;
}

.output {
  border: 1px solid magenta;
}

// VA! Get rid of the default decrement/increment arrows on input elements of type number 
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

// VA! From bootstrap 3
.btn-default {
  display: inline-block;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-color: #ccc;
  border-radius: 4px;
  // VA! 08.13.20
  // VA! Don't understand why border-color here doesn't overwrite border-top-color and the rest of the border edge selectors.
  background-color: #fff;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
}

.navbar-container {
  position: relative;
  height: 40px;
  margin-bottom: 3px;
  border-bottom: 1px solid $primary-bg-color;
  background: $primary-bg-color;
}

.navbar {
  display: block;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  li {
    display: block;
    float: left;
    a {
      color: $primary-font-color;
    }
  }
}

// HERO/HEADER
.header-container {
  display: block;
  position: relative;
  width: 100%;
  height: 65px;
  margin: 0 auto 40px;
  padding-bottom: 5px;
}

.header-isolate-app {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  // border: 5px solid #959595;
  // border-radius: 10px;
  padding: 5px 5px 0 10px;
  z-index: 100;
  &:hover {
    cursor: nw-resize;
  }
  img {
    width: 30px;
    height: auto;
  }
}

.header-content {
  display: flex;
  position: relative;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  padding: 0 0 0 60px;
}

.header-text {
  width: 500px;
}

.header-headline {
  position: relative;
  width: 440px;
  height: 46px;
  float: left;
}

.header-image {
  position: relative;
  // top: 0;
  width: 70px;
  height: 90px;
  margin-top: 5px;
  margin-left: -8px;
  float: left;
  // VA! z-index is for the 'runMe' link, only for dev
  z-index: 100;
  img {
    width: 100%;
    height: auto;
  }
}

.header-logo {
  position: relative;
  width: 225px;
  height: 32px;
  h1 {
    top: 0;
    margin: 0;
    padding: 0;
    color: $logo-color;
    // color: #F24747;
    font-family: $logo-font;
    font-size: 32px;
    font-weight: bold;
  }
  .header-version {
    position: absolute;
    top: 17px;
    right: 0;
    font-size: 12px;
    p {
      margin: 0;
      padding: 0;
      color: #959595;
    }
  }
}


.header-slug {
  position: relative;
  width: 100%;
  h2 {
    width: 100%;
    margin-top: 6px;
    padding: 0;
    color: $header-subtext-color;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
  }
}

.initial-cap {
  color: $logo-color;
  font-size: 110%;
  font-weight: 800;
}

// APP-CONTAINER
#app-container {
  display: block;
  position: relative;
  // VA! This yields a viewport width of 802, which allows a user-entered width of 800 max
  width: 860px;
  min-height: 725px;
  margin: 45px auto 0;
}
// VA! Add a blocker overlay to prevent user input while error and status messages are showing. Tooltip messages don't need the blocker since they depend on user input, not setTimeOut, to show and hide.
#app-blocker {
  display: none;
  position: absolute;
  top: -5px;
  left: 0;
  width: 850px;
  height: 720px !important;
  background: transparent;
  z-index: 999;
  &.active {
    display: block;
  }
}

// TOOLS
// VA! Reboot 
#toolbar-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  &.show-err {
    transform: translate(0, 50px);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  &.hide-err {
    transform: translate(0, 0);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
}

// UL -- Toolbar button container 
.toolbar-buttons {
  // z-index: -1;
  display: flex;
  // display: none;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  .toolbar-but {
    width: 50px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: center;
  }
  .toolbar-input {
    width: 50px;
    height: 32px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: center;
    // border: 1px solid magenta;
  }
  // VA! Reboot: deleted img selector, moved img styling to class .toolbar-but
  // VA! Reboot: deleted .divider child selector under input selector, moved divider styling to class .divider
  .divider {
    width: 5px;
    height: 18px;
    margin: 0 7px;
    opacity: .2;
  }
  // VA! Reboot: deleted img element in HTML and set the background image of each toolbar-button to its corresponding image
  #btn-tbr-incr50 { background-image: url('../img/incr50-button.png'); }
  #btn-tbr-incr10 { background-image: url('../img/incr10-button.png'); }
  #btn-tbr-incr01 { background-image: url('../img/incr01-button.png'); }
  #btn-tbr-decr01 { background-image: url('../img/decr01-button.png'); }
  #btn-tbr-decr10 { background-image: url('../img/decr10-button.png'); }
  #btn-tbr-decr50 { background-image: url('../img/decr50-button.png'); }
  
  #ipt-tbr-imgviewerw {
    width: 80px;
    padding-left: 35px;
    background: url('../img/table-icon.png') no-repeat scroll 7px 7px;
  }
  #ipt-tbr-sphonesw {
    width: 70px;
    padding-left: 30px;
    background: url('../img/small-phones-toolbar-icon.png') no-repeat scroll 12px 2px;
    background-size: 15px 26px;
  }
  #ipt-tbr-lphonesw {
    width: 85px;
    padding-left: 35px;
    background: url('../img/large-phones-toolbar-icon.png') no-repeat scroll 7px 2px;
    background-size: 34px 24px;
  }
}

// VA! I'm not sure what this does - I think it was inherited from Bootstrap or less.scss
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

// IMAGE-VIEWPORT- contains dim viewer, dim-error-container and ccp
#image-viewport {
  display: block;
  position: absolute;
  top: 40px;
  width: 850px;
  height: 679px;
  min-height: 679px !important;
  margin: 0 auto;
  border-top: 110px solid #000;
  border-right:  24px solid #000;
  border-bottom:  24px solid #000;
  border-left:  24px solid #000;
  border-radius: 10px;
  // overflow: auto;
  background: #E1E1E1 url('../img/html-email-icon-blue.png') repeat;
  z-index: 2;
}

// INSPECTORS
#inspector-container {
  display: flex;
  position: absolute;
  top: 50px;
  justify-content: space-evenly;
  width: 850px;
  height:  95px;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: $inspector-font-color;
  // VA! Testing
  overflow: hidden;
  z-index: 3;
  // VA! Reboot: I can't remember what this does.
  &.show-err {
    transform: translate(0, -85px);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  &.hide-err {
    transform: translate(0, 0);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
}
.inspectors-left-col, .inspectors-right-col, .inspectors-center-col {
  display: flex;
}
.inspector-list {
  width: 240px;
  margin: 0;
  padding: 0;
}
.inspectors-left-col {
  justify-content: flex-end;
  width: 280px;
  margin-top: 3px;
}
.inspectors-right-col {
  justify-content: flex-end;
  width: 300px;
  margin-top: 3px;
}
.inspectors-center-col {
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}
.inspector {
  padding: 2px 2px 2px 0;
  border: 0;
  // VA! Reboot: default pop-font, inherited in writeInspectorAlerts
  font-family: $inspector-font-family;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  list-style-type: none;
  // VA!Hover on clickable Inspector value elements
  .inspector-click {
    &:hover {
      color: $inspector-hover-color !important;
      cursor: pointer;
    }
  }
}

// VA! Disabled element classes
// VA! Labels, inputs
.disabled {
  color: #959595 !important;
  font-style: italic;
}
// VA! Radio buttons
.disabled-radio {
  opacity: .4 !important;
}

.disable-checkbox {
  color: #959595 !important;
  pointer-events: none;
}

.inspector-content, .inspector-label, .inspector-x, .no-image  {
  display: inline;
}

.inspector-x {
  display: none;
}

#btn-toggle-ccp {
  display: block;
  width: 40px;
  height: 47px;
  margin: 15px auto 0;
  border: 0;
  background-color: transparent;
  background-image: url('../img/clipboard.png');
  background-position: center top;
  background-size: 40px 47px; 
  cursor: pointer;
  &.active {
    // VA! Reboot: bg image not swapping on active and the image is misnamed - it should be clipboard-active. There should be a different hover image.
    background-image: url('../img/clipboard-hover.png');
  }
}
#ins-filename {
  height: 22px;
  color: $filename-viewer-font-color;
  font-size: 1rem;
  text-align: center;
}

.pop-font {
  // VA! Reboot: Pop font for Inspector
  // VA! Need the important hack to override the alert style set in writeInspectorAlerts
  color: $inspector-pop-font-color !important;
}

// APP ERROR DISPLAY
#app-message-container {
  display: flex;
  // flex-direction: column;
  position: relative;
  top: -40px;
  // top: 0px;
  left: 0;
  width: 100%;
  height: 35px;
}

#tip-content, #err-content, #msg-content {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity .125s;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.125rem;
  text-align: center;
  opacity: 0;
  z-index: -1;
  &.active {
    transition: opacity .125s;
    opacity: 1;
  }
}

#tip-content {
  color: #04508e;
}
#err-content {
  color: #FF0000;
}
#msg-content {
  color: #959595;
}

// MAIN IMAGE VIEWER
#main-image-viewer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 650px;
  height: 450px;
  // !VA Width and height should only be set programmatically
  transform:  translateY(-50%) translateX(-50%);
  background: #e1e1e1 url('../img/html-email-icon-white.png') repeat;
}

#main-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translateY(-50%) translateX(-50%);
  z-index: -1;
  // The displayed img
  #main-img {
    border: 1px dotted #959595;
  }
  // DROP AREA
  #drop-area {
    // VA! display: flex is set programmatically
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 600px;
    min-height: 400px;
    border: 2px dashed #bbb;
    border-radius: 10px;
    .witty {
      color: #6a6a6a;
      font-size: 110%;
    }
  }
}

.drop-callout {
  display: block;
  position: relative;
  width: 100%;
  height: 70px;
  margin-top: 0;
  padding: 15px 25px;
  color: #959595;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
.drop-area-content {
  display: block;
  margin: 0 20px 10px 40px;
  color: #959595;
  font-size: 1.125rem !important;
  line-height: 1.365rem;
  text-align: left;
  a {
    color: inherit;
    text-decoration: underline;
  }
}

// :VA Not sure where this goes
output {
  // :VA override bootstrap default -- !important required here
  padding: 0 !important;
}

// :VA Not sure where this goes
#ipad-container {
  position: absolute;
  top: -72px;
  left: -86px;
}

// CLIPBOARD CONTROL PANEL

#ccp {
  display: flex;
  position: relative;
  width: 98%;
  height: 530px;
  margin: 6px auto 0;
  padding: 0;

  // VA! 08.13.20
  // VA! Uncomment transform and transition to restore normal display
  transform: scaleX(0);
  transition: transform 100ms;
  border: 1px solid #161616;
  border-radius: 10px;
  background: #000000;
  cursor: default;
  opacity: .91;
  z-index: 100;
  // Animation
  &.active {
    transform: scaleX(1);
  }
  h2 {
    display: block;
    margin: 8px 0 0;
    padding: 0;
    color: $primary-font-color;
    font-size: 14px;
    text-align: center;
  }
}

.ccp-link {
  color: #057CC6;
  font-weight: bold;
  text-decoration: underline;
}

#ccp-content {
  // VA! Reboot: Working
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 530px;
  // margin: 0 auto;
  padding: 0 10px;
  // Character styles for CCP user text input elements
  input, label {
    display: inline-block;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
  }
  select {
    width: 70px;
    font-size: 14px;
  }
  // VA! 08.23.20
  // VA! Deprecated in overhaul - all radio buttons are hidden now
  // input[type='radio'] {
  //   position: relative;
  //   margin-top: 6px;
  // }
}

// VA! Set the width of the 4 options columns in each fieldset
fieldset {
  display: block;
  position: relative;
  width: 100%;
  // VA! Below overrides the fieldset margin in normalize.less
  margin: 0;
  // VA! Below overrides the fieldset padding in normalize.less
  padding: 7px 0;
  border: 1px solid $fieldset-border-color;
  border-radius: 5px;
  legend {
    height: 20px;
    margin: 0 0 0 20px;
    padding: 0 10px;
    border: none;
    color: $fieldset-legend-color;
    font-family: "Courier New", monospace;
    font-size: 16px;
    font-weight: 400;
  }
  &#ccp-img-options {
    height: 165px;
    legend {
      width: 70px;
      margin-left: 30px;
    }
  }
  &#ccp-td-options {
    height: 186px;
    legend {
      width: 62px;
      margin-left: 30px;
    }
  }
  &#ccp-table-options {
    height: 168px;
    legend {
      width: 85px;
      margin-left: 30px;
    }
  }
}

// VA! This fixes the discrepancy between Firefox and Chrome with the alignment of the ccp-columns
.ccp-options-container {
  display: flex;
  position: relative;
  align-content: flex-start;
  justify-content: space-between;
  // VA! Make clip buttons are absolutely positioned 
  .clipboard-buttons {
    display: flex;
    position: absolute;
    top: -10px;
    right: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 140px;
    height: 95px;
    margin-right: 15px;
    transition: opacity .250s;
    opacity: 1;
    z-index: 100;
    pointer-events: auto;
    &.ccp-conceal-ctn {
      transition: opacity .250s;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  .cpp-par {
    transition: opacity .250s;
    opacity: 1;
    pointer-events: auto;
    border: 1px solid magenta;
    &.ccp-conceal-ctn {
      transition: opacity .250s;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  // VA! Inherit pointer events for each child up to .clipboard-buttons, otherwise the child's pointer-events=auto causes it to be clickable even though concealed
  #ccp-img-cbhtm-ipt, #ccp-img-cbhtm-btn {
    pointer-events: inherit;
  }

  // VA! Standard properties for all options sections in all three fieldsets
  .ccp-options {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    // VA! Standard properties for all child rows in the options groups 
    .ccp-row {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 8px;
    }
  }
  // VA! HERE
  #ccp-tda-txcnt-tfd {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 514px;
    textarea {
      height: 45px;
      width: 514px;
      resize: none;
    }
  }



  // VA! Set width of section columns in the respective options groups
  #img-options-left,  #img-options-right {
    width: 50%;
  }
  // VA! td and table options are three column, with the outer columns slightly wider than the center
  #td-options-left {
    width: 225px;
  }
  #table-options-left {
    width: 240px;
  }
  #td-options-center {
    width: 330px;
  }
  #td-options-right {
    width: 160px;
  }
  #table-options-right {
    width: 200px;
  }
  #table-options-center {
    display: flex;
    // flex-direction: column;
    justify-content: flex-start;
    width: 315px;
  }

  // VA! Container to the right of the table wrapper icon container where the table wrapper options live
  #table-options-center-wrapper-options {
    width: 240px;
  }

  #table-options-center-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

// VA! IMAGE OPTIONS SECTION
// VA! Binary Radio Buttons, i.e. img-include, img-type
#img-options-bnary {
  display: flex;
  position: absolute;
  top: 0;
  left: 28px;
  flex-direction: column;
  width: 100px;
  height: 98px;
}

#ccp-img-excld-rdo, #ccp-img-itype-rdo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

// VA! Image anchor options that display when an anchor is provided in the anchor input
#img-anchr-options {
  display: flex;
  position: absolute;
  top:  99px;
  left: 5px;
  justify-content: space-between;
  width: 180px;
}

#ccp-img-targt-chk {
  display: block;
  position: relative;
  width: 50px;
  height: 25px;
}

// VA! TD OPTIONS SECTION
// VA! TD options icons live here
#td-options-center-row-3 {
  // display: flex;
  // position: relative;
  // justify-content: flex-start;
  width: 100%;
  height: 68px;
}

// VA! Width of TD options icons container
#ccp-tda-optns-rdo {
  display: flex;
  position: absolute;
  top: 23px;
  left: -8px;
  justify-content: space-between;
  // VA! Compensate for whitespace created by hidden input element
  width: 276px;
  height: 44px;
}

// VA! CCP INPUT ELEMENT CLASSES
// VA! Global properties for CCP input containers, applies all CCP element containers. 
.ccp-ctn {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  transition: opacity .250s; 
  background: #000000;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  opacity: 1;
  pointer-events: auto;
  &.ccp-conceal-ctn {
    transition: opacity .250s;
    opacity: 0 !important;
    pointer-events: none;
  }
}

.ccp-disable-lbl {
  filter: brightness(1.2) grayscale(1) opacity(.5) !important;
  -webkit-filter: brightness(1.2) grayscale(1) opacity(.5) !important;
  -moz-filter: brightness(1.2) grayscale(1) opacity(.5) !important;
}

// VA! ALIGN container properties, including vAlign
.ccp-align-ctn {
  display: flex;
  justify-content: space-between;
  width: 124px;
  margin: 0 0 0 6px;
}

// VA! Defaults for all CCP input/button elements
// VA! 08.19.20
.ccp-ipt {
  padding-left: 5px;
  border: 1px solid #959595;
  // VA! Get rid of focus outline
  outline: 0;
  background: transparent;
  opacity: 1;
}

// VA! Width of CCP text input elements: ccp-nrrow-ipt, ccp-reglr-ipt, ccp-wider-ipt, ccp-widst-ipt. 
// VA! Narrow inputs, i.e. padding input fields
.ccp-nrrow-ipt {
  width: 40px;
  // VA! Override the margin and padding in .ccp-btn
  margin: 0 !important;

}

// VA! Regular CCP inputs, i.e. i.e. width, max-width and anything that can take a hex value
.ccp-reglr-ipt {
  width: 75px;
}

// VA! Class input element width
.ccp-wider-ipt {
  width: 194px;
}

// VA! Widest input element width - cpp-alt, ccp-loctn, ccp-anchr
.ccp-widst-ipt {
  width: 336px;
}

// VA! LABEL Properties
// VA! Global LABEL properties
.ccp-lbl {
  display: inline-block;
  // VA! Input icons don't get the hover pointer - they're not clickable.
  // cursor: pointer;
  // VA! Background image properties - apply to all CCP label elements that have an icon
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // VA! Transforms blue icon to white - default behavior
  -webkit-filter: brightness(2) grayscale(1) opacity(1);
  -moz-filter: brightness(2) grayscale(1) opacity(1);
  filter: brightness(2) grayscale(1) opacity(1);
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
}

// VA! 08.22.20
// VA! Properties applying to all text input elements
.ccp-txfld-lbl {
  // VA! Bump input elements out 10px to right of icon
  margin-right: 10px;

}
// VA! CCP icons, i.e. element label properties - ccp-small-lbl, ccp-mdium-lbl, ccp-large-lbl, ccp-xlrge-lbl, ccp-wrapr-lbl
.ccp-small-lbl {
  width: 25px; 
  height: 25px;
}
.ccp-mdium-lbl {
  width: 30px; 
  height: 30px;
}
.ccp-large-lbl {
  width: 35px; 
  height: 35px;
}
// VA! Make HTML icon size
.ccp-cbhtm-lbl {
  width: 82px;
  height: 42px;
}
// VA! Make CSS icon size
.ccp-cbcss-lbl {
  width: 45px;
  height: 35px;

}

// VA! Include table wrapper icon size - see the .ccp-wrapr-lbl rule below

// VA! PADDING
.ccp-grp {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  transition: opacity .250s; 
  background: #000000;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  opacity: 1;
  pointer-events: auto;

}



// VA! Branch 0917A
// VA! PADDING elements

.ccp-padng-grp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: -4px;
  right: 50px;
  width: 130px;
  height: 70px;
  // margin-left: 10px;
  // VA! Prevent overlay by #td-options-center-row-2
  z-index: 102;
  pointer-events: auto;
  opacity: 1 !important;
}
// .ccp-pdng-icn-ctr {
//   display: block;
//   position: relative;
//   margin: 0 auto;
//   width: 44px;
//   height: 25px;
//   opacity: 1 !important;
//   border: 1px solid blue;
// }

.ccp-padng-row {
  display: flex;
  justify-content: flex-end;
}

// VA! Padding icon is a special case - it has no input element. If an active class it to be put on it to highlight user text input in any of the padding input fields, it has to be done separately here. 
#ccp-tda-padng-icn {

  position: relative;
  top: 18px;
  right: 4px;
  // left: 52px;
  width: 26px;
  height: 26px;

  // VA! background-image listed separately with all the other icons
  background-size: 26px 26px;
  background-color: #000000;
  background-position: center center;
  // background-repeat: no-repeat;
  filter: brightness(2) grayscale(1) opacity(1) !important;
  -webkit-filter: brightness(2) grayscale(1) opacity(1) !important;
  -moz-filter: brightness(2) grayscale(1) opacity(1) !important;
  // VA! Remove the filter on the icon image if the active class is applied
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  &.active  {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none !important;
  }
}

.ccp-padng-ctn {
  margin: 3px;
}


// VA! Padding input position
// .ccp-pdtop-ipt { position: absolute; top: 0px; left: 44px; }
// .ccp-pdlft-ipt { position: absolute; top: 28px; left: 4px; }
// .ccp-pdrgt-ipt { position: absolute; top: 28px; left: 85px; }
// .ccp-pdbtm-ipt { position: absolute; top: 56px; left: 44px; }

#ccp-tda-pdtop-ipt {background: url('../img/icon-padng-top.png') no-repeat;}
#ccp-tda-pdrgt-ipt {background: url('../img/icon-padng-rgt.png') no-repeat;}
#ccp-tda-pdbtm-ipt {background: url('../img/icon-padng-btm.png') no-repeat;}
#ccp-tda-pdlft-ipt {background: url('../img/icon-padng-lft.png') no-repeat;}

#ccp-tda-pdtop-ipt, #ccp-tda-pdrgt-ipt, #ccp-tda-pdbtm-ipt, #ccp-tda-pdlft-ipt  {
  // width: 80px;
  height: 28px;
  // padding-left: 35px;
  background-size: 8px auto;
  background-position: 2px 10px;
  padding-left: 12px !important;
  text-align: left;
  margin: 0 !important;
}



// VA! WRAPPER Icon Button
// VA! Include wrapper checkbox icon container
// VA! 08.20.20
#ccp-tbl-wrapr-chk, #ccp-tbl-hybrd-chk {
  position: relative;
  top: 2px;
  width: 70px;
  height: 44px;
  margin: 0 auto;
}

#ccp-tbl-hybrd-chk {
  top: 12px;
} 

// VA! Include wrapper checkbox icon
.ccp-wrapr-lbl, .ccp-hybrd-lbl {
  display: block;
  position: relative;
  top: 0;
  margin: auto;
}

.ccp-wrapr-lbl {
  width: 44px;
  height: 22px;  
  transform: rotate(-45deg);
  
}

.ccp-hybrd-lbl {
  width: 30px;
  height: 30px;
}




// VA! Default icon group input style - only the icon itself should display, so hide the input element. Using the appearance property - display and visibility don't work as expected and opacity cuts off a slice from the icon. If there are browser compatibility issues, revisit this, but it works on modern desktop browsers: https://caniuse.com/#feat=css-appearance.

// VA! 08.22.20 
// VA! Default behavior for build HTML and make CSS buttons - input element is hidden.
.ccp-buttn-ctn {
  margin: 0;
  input {
    margin: 0;padding: 0;
    // VA! Override the default border display for input elements. Otherwise, the button border will display even though the button itself's appearance is set to 0, so that the button border appears to the left of the background image icon.
    border: 0;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

// VA! 08.23.20
// VA! Reverse position of input/label elements in text inputs to allow consistent use of DOM element indices
.ccp-txfld-ctn {
  display: flex;
  flex-direction: row-reverse;
}





// VA! Default behavior for text input fields, radio input buttons and checkboxes.
.ccp-txfld-ctn, .ccp-radio-ctn, .ccp-chkbx-ctn, .ccp-buttn-ctn {
  // VA! Hide all the input elements. 
  // VA! 08.22.20
  // VA! Why doesn't including ccp-txfld-ctn input here hide the text input field? It appears that appearance only hides the radio buttons.  
  input, textarea {
    // VA! 08.23.20 
    // VA! Removed this padding from all input elements
    // margin: 0;padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // VA! Prevent outline on focus
    outline: 0;
    // VA! Define the active class property that is applied to radio and checkbox elements to visually indicate their checked/selected status (opacity = .9). This applies to all input labels including text input labels, although for text input labels the active class is applied not when the element is checked/selected but rather onchange if the text input gets a value.
    &:active +.ccp-radio-lbl, &:active +.ccp-chkbx-lbl {
      opacity: .9;
    }
    // VA! Sets the properties that visually indicate the checked/selected status of radio and checkbox input elements, i.e. CSS filters are removed so the original blue color of the PNG image is displayed. 
    &:checked +.ccp-radio-lbl, &:checked +.ccp-chkbx-lbl {
      -webkit-filter: none;
      -moz-filter: none;
      filter: none;
    }
    // VA! Applies the active class to all sibling elements of the input element that have the class .ccp-txfld-lbl
    &.active +.ccp-txfld-lbl {
      // VA! Remove the filter on the icon image if the active class is applied
      -webkit-filter: none;
      -moz-filter: none;
      filter: none;
    }
    // VA! Applies the active class to all sibling elements of the input element that have the class .ccp-padng-icn, i.e. the div element that contains the background image for the padding icon.
    &.active +.ccp-padng-icn {
      -webkit-filter: none;
      -moz-filter: none;
      filter: none;
    }
    &+.ccp-disable-lbl {
      filter: brightness(1.2) grayscale(1) opacity(.5);
      -webkit-filter: brightness(1.2) grayscale(1) opacity(.5);
      -moz-filter: brightness(1.2) grayscale(1) opacity(.5);
      transform: scale(1);
    }
  }
}

// VA! 08.19.20
// VA! Default display and hover behavior for radio, checkbox and button labels. Elements display in white, i.e. with a high brigtness filter applied. On hover, the filter is diminished so the blue color shows through. 
.ccp-radio-lbl, .ccp-chkbx-lbl, .ccp-buttn-lbl {
  display: inline-block;
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;    
  -moz-transition: all 100ms ease-in;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  // pointer-events: inherit;
  // // VA! Displays the blue icon PNG as white
  filter: brightness(2) grayscale(1) opacity(1);
  -webkit-filter: brightness(2) grayscale(1) opacity(1);
  -moz-filter: brightness(2) grayscale(1) opacity(1);
  &:hover {
    // VA! The hover state does NOT apply to text input labels - they get an active class when there's a value in the input field but there's no hover action. 
    filter: brightness(1.2) grayscale(.5) opacity(.9);
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    transform: scale(1.075);
  }
}

// VA! Override the above checkbox hover style to scale it instead of changing the filter - the color change was confusing. This also has the effect that the wrapper icon's rotation is cancelled...nice!
.ccp-chkbx-lbl {
    transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;    
    -moz-transition: all 100ms ease-in;
  &:hover {
  filter: brightness(2) grayscale(1) opacity(1);
  -webkit-filter: brightness(2) grayscale(1) opacity(1);
  -moz-filter: brightness(2) grayscale(1) opacity(1);
  transform: scale(1.075);
  }
}

// VA! Override the default styling of the align-none labels -- these labels should be always display in white (i.e. with full filters applied) because they're only used to cancel selected align or valign elements and thus have no state that has to persist.
.ccp-hanon-lbl {
  filter: brightness(3) grayscale(1) opacity(1) !important;
  -webkit-filter: brightness(3) grayscale(1) opacity(1) !important;
  -moz-filter: brightness(3) grayscale(1) opacity(1) !important;
}

// VA! BACKGROUND IMAGES/ICONS
// VA! Background images are attached to the ID of the element label unless the same image is used for multiple elements, i.e. class, width etc. In that case, the image is attached to a class name.
// VA! Clipboard Buttons
// VA! IMG Clipboard buttons
#ccp-img-cbhtm-lbl { background-image: url('../img/img-to-cb-html-hover.png')}
#ccp-img-cbdtp-lbl { background-image: url('../img/img-display-css-to-clipboard-icon-hover.png')}
#ccp-img-cbsph-lbl { background-image: url('../img/img-sphone-css-to-clipboard-icon-hover.png')}
#ccp-img-cblph-lbl { background-image: url('../img/img-lphone-css-to-clipboard-icon-hover.png')}
// VA! TD Clipboard buttons
#ccp-tda-cbhtm-lbl { background-image: url('../img/td-to-cb-html-icon-hover.png')}
#ccp-tda-cbdtp-lbl { background-image: url('../img/td-display-css-to-clipboard-icon-hover.png')}
#ccp-tda-cbsph-lbl { background-image: url('../img/td-sphone-css-to-clipboard-icon-hover.png')}
#ccp-tda-cblph-lbl { background-image: url('../img/td-lphone-css-to-clipboard-icon-hover.png')}
// VA! TABLE Clipboard buttons
#ccp-tbl-cbhtm-lbl { background-image: url('../img/table-to-cb-html-icon-hover.png')}
#ccp-tbl-cbdtp-lbl { background-image: url('../img/table-display-css-to-clipboard-icon-hover.png')}
#ccp-tbl-cbsph-lbl { background-image: url('../img/table-sphone-css-to-clipboard-icon-hover.png')}
#ccp-tbl-cblph-lbl { background-image: url('../img/table-lphone-css-to-clipboard-icon-hover.png')}
// VA! CCP text inputs, radio buttons and checkboxes
// VA! CLASS Input
.ccp-class-lbl { background-image: url('../img/icon-class-blue.png')}
// VA! ALT Input
#ccp-img-altxt-lbl { background-image: url('../img/icon-alt-blue.png')}
// VA! ANCHOR Input
#ccp-img-anchr-lbl { background-image: url('../img/icon-anchor-blue.png')}
// VA! LOCATION Input
#ccp-img-loctn-lbl { background-image: url('../img/icon-location-blue.png')}
// VA! WIDTH Input
.ccp-width-lbl { background-image: url('../img/icon-width-blue.png')}
// VA! HEIGHT Input
#ccp-tda-heigt-lbl { background-image: url('../img/icon-height-blue.png')}
// VA! BACKGROUND COLOR Input
.ccp-bgclr-lbl { background-image: url('../img/icon-background-color-blue.png')}
// VA! FONT COLOR Input
// #ipt-ccp-td-fontcolor-label {
.ccp-txclr-lbl { background-image: url('../img/icon-font-color-blue.png')}
// VA! BORDER Input
#ccp-tda-bdrad-lbl { background-image: url('../img/icon-border-radius-blue.png')}
// VA! BORDER COLOR Input
#ccp-tda-bdclr-lbl { background-image: url('../img/icon-border-color-blue.png')}
// VA! TEXT CONTENT Input
#ccp-tda-txcnt-lbl { background-image: url('../img/icon-textcontent-blue.png')}
// VA! MAX WIDTH Input
.ccp-maxwd-lbl { background-image: url('../img/icon-maxwidth-blue.png')}
// VA! ALIGN 
// VA! horizontal align: non, lft, ctr and rgt 
.ccp-hanon-lbl { background-image: url('../img/icon-align-none-blue.png');}
.ccp-halft-lbl { background-image: url('../img/icon-align-left-blue.png');}
.ccp-hactr-lbl { background-image: url('../img/icon-align-center-blue.png');}
.ccp-hargt-lbl { background-image: url('../img/icon-align-right-blue.png');}
// VA! VALIGN  
// VA! vertical align: non, top, mid and btm 
.ccp-vatop-lbl { background-image: url('../img/icon-valign-top-blue.png');}
.ccp-vamid-lbl { background-image: url('../img/icon-valign-middle-blue.png');}
.ccp-vabtm-lbl { background-image: url('../img/icon-valign-bottom-blue.png');}
// VA! TD PADDING
#ccp-tda-padng-icn { background-image: url('../img/icon-padng-blue.png');}
// VA! TD OPTIONS
#ccp-tda-basic-lbl { background-image: url('../img/icon-td-basic-blue.png');}
#ccp-tda-iswap-lbl { background-image: url('../img/icon-td-imgswap-blue.png');}
#ccp-tda-swtch-lbl { background-image: url('../img/icon-td-posswitch-blue.png');}
#ccp-tda-bgimg-lbl { background-image: url('../img/icon-td-bgimage-blue.png');}
#ccp-tda-vmlbt-lbl { background-image: url('../img/icon-td-vmlbutton-blue.png');}
// VA! IMG EXCLD
#ccp-img-incld-lbl { background-image: url('../img/icon-include-image-blue.png');}
#ccp-img-excld-lbl { background-image: url('../img/icon-exclude-image-blue.png');}
// VA! IMG ITYPE
#ccp-img-fixed-lbl { background-image: url('../img/icon-fixed-blue.png');}
#ccp-img-fluid-lbl { background-image: url('../img/icon-fluid-blue.png');}
// VA! TABLE WRAPPER
#ccp-tbl-wrapr-lbl { background-image: url('../img/icon-wrapper-blue.png'); }
// VA! HYBRID
#ccp-tbl-hybrd-lbl { background-image: url('../img/icon-hybrid-blue.png'); }
// VA! GHOST
.ccp-ghost-lbl { background-image: url('../img/icon-ghost-blue.png');}
// VA! MSDPI
.ccp-msdpi-lbl { background-image: url('../img/icon-120dpi-blue.png');}
#ccp-img-targt-lbl { background-image: url('../img/icon-bullseye-blue.png'); }


// VA! CLIPBOARD BUTTON GROUP
// VA! Parent container properties are defined in .ccp-options-container
// VA! Curly braces at l/r of Make CSS Clip buttons in Clipboard Buttons section
// VA! 08.22.20
// VA! This needs to be rename and moved up
// .make-css-rule-group {
.cpp-mkcss-group {
  display: flex;
  position: relative;
  top: 3px;
  justify-content: space-between;
  .curly-before, .curly-after {
    margin: -3px 2px 0;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    vertical-align: -8px;
    // &::before { content: '{'; }
    // &::after {
    //   content: '}'; 
    // }
    // &::before, &::after {
    // }
  }
}

/* Input placeholder */
//Get rid of these vendor prefixes
#ccp input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #959595;
  font-style: italic;
}
#ccp input::-moz-placeholder { /* Firefox 19+ */
  color: #959595;
  font-style: italic;
}
#ccp input:-ms-input-placeholder { /* IE 10+ */
  color: #959595;
  font-style: italic;
}
#ccp input:-moz-placeholder { /* Firefox 18- */
  color: #959595;
  font-style: italic;
}

// CCP CLose Button
#ccp-close {
  position: absolute;
  top: 450px;
  right: 20px;
  width: 80px;
  float: right;
  background-image: url(../img/close-icon.png);
  background-repeat: no-repeat;
  background-position: center right;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 1;
}



// Page Content =========================================

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 100px;
}

.content__overview {
  @include smallest  {
  
  }
  @include small  {
  
  }
  @include tablet  {
  
  }
  @include desktop  {

  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}

.content__overview-heading {
  display: block;
  text-align: center;
  width: 100%;
}


.end__matter {
  width: 100%;

}

.video {
  position: relative;
  width: 720px;
  iframe {
    display: block;
    position: relative;
    margin: 0 auto;
  }
}

// VA! 08.13.20
// VA! 



/* VA! Fix for Firefox displaying extra styling on Select elements on Linux. Note: the dropdown options still show with white text on black background but I can live with that. Thanks to: https://stackoverflow.com/questions/44147362/firefox-overriding-style-of-html-select-option
But note that it's possible that I've disabled Multiprocess (about:support) on my Windows Firefox versions. That needs to be tested before I go shooting my mouth off about this on SO.
*/
/* VA! ALSO: about the @supports rule...
https://developer.mozilla.org/en-US/docs/Web/CSS/@supports   */
@supports (-moz-appearance:none) {
  select
  {
  -moz-appearance:none !important;
  background: white url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') right center no-repeat !important;
  background-position: calc(100% - 5px) center !important;
  
  }
}


// VA! Tooltip tests
button, .btn, .btn-default {
  cursor: inherit;
}

#testme {
  &.active {
    background: yellow;
  }
} 