// COLORS
$primary-bg-color:                #337AB7;
$primary-font-color:              #FFF;

// VA! TResting

// HEADER
$dim-color:           #B7B233;
$whit-color:          #B77033;
$header-subtext-color:            #959595;

// IMAGE TOOLBAR
$image-toolbar-bkgd-color:        #FFF;


//DIM VIEWERS
$inspector-font-color:          rgba(160, 160, 160, 1);              
$inspector-pop-font-color:      rgba(255, 255, 255, .9);   
$filename-viewer-font-color:      rgba(255, 255, 255, .8);

//TOOLTIPS
$tooltip-bg-color:                rgba(107, 107, 107, .9);
$tooltip-font-color:              #FFF;
$tooltip-border-color:            #555 transparent transparent transparent;


//CCP
$fieldset-border-color:           #959595;
$fieldset-legend-color:           #959595;


// TYPOGRAPHY
$primary-font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$inspector-font-family: 'Ubuntu', Arial, Helvetica, sans-serif;

// VA! This is the old logo font, has nothing to do with the app
$dimwhit-font-family: 'Ubuntu', Arial, Helvetica, sans-serif;

// VA! Reboot: not used
// .dim-text { 
//   color: $dim-color; 
//   font-family: $dimwhit-font-family;
//   font-size: 110%;
//   font-weight: bold;
// }
  
  
// VA! Reboot: not used
// .whit-text { 
//   color: $whit-color; 
//   font-family: $dimwhit-font-family;
//   font-size: 110%;
//   font-weight: normal;
// }




