.devred {
  border: 1px solid red !important;
}

.devblue {
  border: 1px solid blue !important;
}


body {
  font-family: $primary-font-family;
  font-size: 1rem;

  // position: relative;
  // height: auto;
  // min-height: 100% !important;
  min-height:100% !important; 
}

/* TYPE */

span.code {
  font-family: 'Courier New', monospace;
}


// FIX
button:disabled  {
  opacity: .45;
  cursor: not-allowed;
}

.navbar-container {
  position: relative;
  height: 40px;
  margin-bottom: 3px;
  border-bottom: 1px solid $primary-bg-color;
  background: $primary-bg-color;
}

.navbar {
  display: block;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  li {
    display: block;
    float: left;
    a {
      color: $primary-font-color;
    }
  }
}

// HERO/HEADER
.header-container {
  position: relative;
  width: 100%;
  height: 125px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 5px;
  // border-top: 1px solid $primary-bg-color;
  // border-bottom: 1px solid $primary-bg-color;
  // border: 1px solid blue;
}

.header-content {
  display: block;
  height: 70px;
  position: relative;
  width: 1000px;
}

.header-headline {
  float: left;
  position: relative;
  height: 76px;
  width: 490px;
  // margin: 0 auto;
  margin-left: 20px;
  // border: 1px solid green;
  .header-logo {
    position: relative;
    width: 354px;
    float: left;
    margin-top: 8px;
    .header-version {
      position: absolute;
      font-size: 12px;
      bottom: -2px;
      right: 14px;;
      p {
        color: #959595;
        margin: 0;
        padding: 0;
      }
    }
    // border: 1px solid black;
    img {
      display: block;
      // margin: 0 auto;
    }
  }
  .header-image {
    // position: absolute;
    // top: 0;
    float: left;
    width: 90px;
    margin-top: 4px;
    img {
      width: 90px;
      margin-top: -12px;
      &.right, .left {position: absolute;}
      &.right {right: 0;}
      &.left {left: 0;}
    }
  }
  .header-divider {
    float: right;
    width: 18px;
    height: 57px;
    margin-top: 4px;
    border-left: 8px solid #b7b233;
    border-right: 8px solid #b77033;
  }
  .header-slug {

  }
}



.header-subtext, .header-slug {
  float: right;
  h2 {
    width: 100%;
    margin-top: 6px;
    padding: 0;
    color: $header-subtext-color;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
    a {
      color: $header-subtext-color;
      text-decoration: none;
    }
    .initial-cap {
      font-size: 110%;
      font-weight: 800;
    }
    .whit-initial-cap {
      color: $whit-color;
    }
    .dim-initial-cap {
      color: $dim-color;
    }
    span.header-version {
      font-size: 12px;
    }
  }
}

.header-slug {
  width: 600px;
}



// IMAGE TOOLBAR
.img-toolbar {
  display: block;
  position: relative;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  background: $image-toolbar-bkgd-color;
  // z-index: 100;
}

// UL -- Toolbar button container 
.img-toolbar-buttons {
  display: block;
  width: 800px;
  margin: 0 auto;
  padding: 0;
  li {
    display: inline;
    margin: 0;
    padding: 0;
    button {
      display: inline;
      margin: 0;
      padding: 0;
    }
    input {
      width: 50px;
      height: 32px;
      margin:0;
      padding:0;
      font-size: 14px;
      font-style: italic;
      line-height: 18px;
      text-align: center;
    }
    img {
      width: 50px;
      height: 30px;
      margin: 0;
      vertical-align: middle;
      &.divider {
        width: 5px;
        height: 18px;
        margin: 0 10px;
        opacity: .2;
      }
    }
    #main-image-viewer-wdth {
      width: 95px;
      padding-left: 30px;
      text-align: center;
      background: url('../img/table-icon.png') no-repeat scroll 7px 7px;
    }
    #small-phones-wdth {
      width: 95px;
      padding-left: 30px;
      background: url('../img/small-phones-toolbar-icon.png') no-repeat scroll 12px 2px;
      background-size: 15px 26px;
    }
    #large-phones-wdth {
      width: 95px;
      padding-left: 30px;
      background: url('../img/large-phones-toolbar-icon.png') no-repeat scroll 7px 2px;
      background-size: 34px 24px;
    }
    #toggle-retina, #toggle-image-size {
      width: 50px;
      height: 32px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 45px 27px;
    }
    #toggle-retina {
      background-image: url('../img/retina-button.png');
    }
    
    #toggle-retina.active {
    background-image: url('../img/retina-button-active.png');
    }
    
    #toggle-image-size {
      background-image: url('../img/display-button.png');
      .active {
        background-image: url('../img/disk-button.png');
      }
    }
  }
}

// TODO: Nest this under img-toolbar-buttons so that the JS works to make it
// disappear on focus
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

// APP-CONTAINER
#app-container {
  display: block;
  position: relative;
  // VA! This yields a viewport width of 802, which allows a user-entered width of 800 max
  width: 850px;
  min-height: 679px;
  // padding: 0 30px;
  margin: 15px auto 100px;
  // border: 1px solid red;
  // background: yellow;
}

// TOOLS
#tools-container {
  display: none;
  position: absolute;
  // top: -150px;
  top: 0;
  left: 0;
  width: 100%;
  &.show-err {
    transform: translate(0, 50px);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  &.hide-err {
    transform: translate(0, 0);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
}

// IMAGE-VIEWPORT- contains dim viewer, dim-error-container and ccp
#image-viewport {
  // border: 1px solid blue !important;
  display: block;
  position: absolute;
  top: 40px;
  width: 850px;
  height: 679px;
  // width: 100%;
  // height: 1170px !important;
  // !VA Setting min height here because anything less than 679px won't make enough room for CCP
  min-height: 679px !important;
  margin: 0 auto;
  border-top: 110px solid #000;
  border-right:  24px solid #000;
  border-bottom:  24px solid #000;
  border-left:  24px solid #000;

  border-radius: 10px;
  // overflow: auto;
  background: #E1E1E1 url('../img/html-email-icon-blue.png') repeat;
  z-index: 2;
}

// DIM VIEWER
#dim-viewer-container {
  display: block;
  position: absolute;
  top: 45px;
  width: 100%;
  height: 100px;
  margin: 0 auto 10px;
  background-color: #000000;
  z-index: 3;
  overflow: hidden;

}

#dim-viewers {
  display: block;
  position: relative;
  top: 0; 
  width: 98%;
  height:  95px;
  margin: 0 auto;
  color: #FFFFFF;
  &.show-err {
    transform: translate(0, -85px);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  &.hide-err {
    transform: translate(0, 0);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  #filename-viewer {
    display: block;
    position: absolute;
    top: 5px;
    width: 100%;
    height: 22px;
    margin: 0 auto;
    padding: 0 40px 0 0;
    color: $filename-viewer-font-color;
    font-size: 1.365em;
    // color: #FFFFFF;
    text-align: center;
  }
  .dim-viewers-left-col {
    position: relative;
    top: 15px;
    width: 260px;
    float: left;
    ul {
      width: 220px;
      float: right;
    }
  }
  .dim-viewers-right-col {
    position: relative;
    top: 15px;
    width: 300px;
    float: right;
    ul {
      float: left;
    }
  }
  li {
    padding: 2px 2px 2px 0px;
    border: 0;
    color: $dim-viewers-font-color;
    font-size: 1.365em;
    text-transform: uppercase;
    list-style-type: none;
    &#dim-viewer-display::before {content: 'Display size: '}
    &#dim-viewer-disk-img::before {content: 'Size on Disk: '}
    &#dim-viewer-aspect::before {content: 'Aspect Ratio: '}
    &#dim-viewer-small-phones::before {content: 'Small Phones: '}
    &#dim-viewer-large-phones::before {content: 'Large Phones: '}
    &#dim-viewer-retina::before {content: 'Retina: '}
    // Make the data font defined in the span in the JS pop out against the label.
    .pop-font {
      color: $dim-viewers-pop-font-color;
    }
  }
}

#clipboard-but-container {
  position: absolute;
  top: 36px;
  left: 50%;
  width: 100%;
  margin-left: -40px;
  #clipboard-but {
    width: 40px;
    height: 47px;
    margin-right: 20px;
    border: 0;
    background-color: transparent;
    background-image: url(../img/clipboard.png);
    background-position: center top;
    background-size: 40px 47px; 
    &.active {
      background-image: url('../img/clipboard-hover.png');
    }
  }
}

// DIM ERROR DISPLAY
#dim-error-container {
  display: block;
  position: absolute;
  top: -85px;
  left: 0;
  width: 100%;
  height: 85px;
  &.show-err {
    transform: translate(0, 85px);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  &.hide-err {
    transform: translate(0, 0px);
    transition: transform 250ms;
    // -webkit-transform: scaleX(0);
    // -webkit-transition: -webkit-transform 500ms;
  }
  // dim-errors
  table {
    display: block;
    position: relative;
    width: 650px;
    height: 100%;
    margin: 0 auto;
    // dim-error-message
    td {
      width: 650px;
      height: 85px;
      color: #FFF;
      font-size: 16px;
      font-style: italic;
      font-weight: normal;
      text-align: center;
      text-transform: none;
      vertical-align: middle;
      // overflow: hidden;
    }
  }
}


// MAIN IMAGE VIEWER
#main-image-viewer {
  width: 650px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  // !VA Width and height should only be set programmatically
  transform:  translateY(-50%) translateX(-50%);
  background: #e1e1e1 url('../img/html-email-icon-white.png') repeat;
}

#main-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translateY(-50%) translateX(-50%);
  z-index: -1;
  // The displayed img
  #main-img {
    border: 1px dotted #959595;
  }
  // DROP AREA
  #drop-area {
    display: block;
    position: relative;
    width: 600px;
    min-height: 400px;
    border: 2px dashed #bbb;
    border-radius: 10px;
    // :VA Fix the vendor prefixes
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    .drop-callout {
      margin-top: 0;
      padding: 15px 25px;
      color: #959595;
      font-size: 40px;
      text-align: center;
      text-transform: uppercase;
    }
    .drop-area-content {
      display: block;
      margin: 0 20px 10px 40px;
      color: #959595;
      font-size: 16px !important;

    }
    // span
    .dimwhit {
      color: #6a6a6a;
      font-size: 110%;
    }
  }
}

// :VA Not sure where this goes
output {
  // :VA override bootstrap default -- !important required here
  padding: 0 !important;
}

// :VA Not sure where this goes
#ipad-container {
  position: absolute;
  top: -72px;
  left: -86px;
}

// TOOLTIPS 
// VA! Tooltips are annoying -- unless I can figure out a way to make them useful I'm turning them off here by setting opacity by turning off the ttip opacity transition and turning off ttiptext opacity and visibility  

.ttip {
  display: inline-block;
  position: relative;
  &:hover {
    .ttiptext {
      opacity: 0;
      visibility: hidden;
    }
  }
  .ttiptext {
    position: absolute;
    bottom: 125%;
    left: 50%;
    width: 100px;
    margin-left: -60px;
    padding: 5px 5px;
    // transition: opacity 1s;
    border-radius: 6px;
    background-color: $tooltip-bg-color;
    color: $tooltip-font-color;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    &::after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $tooltip-border-color;
      content: '';
    }
  }
}

// .ttip:hover .ttiptext {
//   visibility: visible;
//   opacity: 1;
// }

// CLIPBOARD CONTROL PANEL
#ccp {
  position: relative;
  width: 98%;
  height: 530px;
  margin: 6px auto 0;
  padding: 0;
  border: 1px solid #161616;
  background: #000000;
  border-radius: 10px;
  // Animation
  // Get rid of vendor prefixes
  -webkit-transform: scaleX(0);
  -webkit-transition: -webkit-transform 500ms;
  transform: scaleX(0);
  transition: transform 100ms;
  opacity: .91;
  z-index: 100;
  &.active {
    // :VA Fix the vendor prefixes
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  h2 {
    display: block;
    margin: 8px 0 0 0;
    padding: 0;
    color: $primary-font-color;
    font-size: 14px;
    text-align: center;
  }
}



#ccp-content {
  display: block;
  position: relative;
  width: 94%;
  height: 470px;
  margin: 0 auto;
  padding: 0;
  // Global CCP character styles

  // !VA Styling the wrapper checkbox and labels 
  span.blob {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
  }
  #img-wrap-anchor {
    margin-left: 15px;
    input[type=checkbox] {
      transform: scale(1.5);
    }
  }
  // input[type=checkbox] {
  //   transform: scale(3);
  // }


  input, label {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
  }
  select {
    width: 80px;
    font-size: 14px;
  }
  input {
    border: 1px solid #616161;
    background: #000000;
    color: #FFFFFF;
  }

  fieldset {
    
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid $fieldset-border-color;
    border-radius: 5px;

    #img-ccp-options {
      // border: 1px solid red;
      // position: relative;
      // top: -15px;
    }

    .ccp-options {
      position: relative;
      width: 100%;
      height: 100%;
      // margin: 0;
      // padding: 0;
      // :VA Fix this -- too convoluted
      .ccp-options-col-1, .ccp-options-col-2, .ccp-options-col-3, .ccp-options-col-4 {
        position: absolute;
        top: 2px;
        margin: 0;
        padding: 0;
      }
      .ccp-options-col-1 {
        // !VA Width is actually irrelevant here since these elements are absolutely positioned
        // top: 15px;
        // left: 15px;
        width: 120px;
      }
      .ccp-options-col-2 {
        left: 120px;
        width: 260px;
        label {
          width: 80px;
          margin-bottom: 5px;
          padding-right: 2px;
          text-align: right;
        }
      }
      .ccp-options-col-3 {
        left: 390px;
        width: 220px;
        input {
          width: 120px;
        }
        label {
          width: 80px;
          margin-bottom: 5px;
          padding-right: 2px;
          text-align: right;
        }
      }
      .ccp-options-col-4 {
        left: 620px;
        width: 70px;
        height: 150px;
      }
      .ccp-but {
        width: 110px;
        height: 56px;
        border: none;
        margin-bottom: 5px;
      }
    }
    span.slash {
      color: #FFFFFF;
      font-size: 18px;
      vertical-align: baseline;
      // border: 1px solid green;
    }
    legend {
      height: 20px;
      margin: 0 0 0 20px;
      padding: 0 10px;
      border: none;
      color: $fieldset-legend-color;
      font-size: 16px;
      font-weight: 400;
    }
    &#img-options {
      height: 200px;
      // border: 1px solid green;
      legend {
        width: 130px;
      }
    }
    &#td-options {
      height: 110px;
      legend {
        width: 120px;
      }
    }
    &#table-options {
      height: 180px;
      legend {
        width: 140px;
      }
    }
  }
}

// Styles for the left, center and right options columns in each fieldset
#img-options {
  .ccp-options-col-1 {
    position: absolute;
    #img-build-html-but {
      display: block;
      background: #000000 url('../img/img-to-cb-html.png') no-repeat center;
      background-size: 90px 46px;
      &:hover {
        background-image: url('../img/img-to-cb-html-hover.png');
      }
    }
    
  }

  .ccp-options-col-4 {
    #img-build-css {
      position: relative;
      width: 70px;
      height: 41px;
      margin-bottom: 15px;
      button {
        display: none;
        width: 70px;
        height: 41px;
        border: 1px solid transparent;
        background:  none;
        cursor: default;
        &.active {
          display: block;
          background:  #000000 url('../img/ccp-img-css-but.png') no-repeat center;
          background-size:  70px 41px;
          cursor: pointer;
          &:hover {
            background-image:  url('../img/ccp-img-css-but-hover.png');
          }
        }
      }
    }
    #lphones-build-css {
      position: relative;
      // left: 20px;
      width: 70px;
      height: 41px;
      margin-bottom: 15px;
      button {
        display: none;
        width: 70px;
        height: 41px;
        border: 1px solid transparent;
        background:  none;
        cursor: default;
        &.active {
          display: block;
          background: #000000 url('../img/ccp-lphone-css-but.png') no-repeat center;
          background-size:  70px 41px;
          cursor: pointer;
          &:hover {
            background-image:  url('../img/ccp-lphone-css-but-hover.png');
          }
        }
      }
    }
    #sphones-build-css {
      position:  relative;
      width: 70px;
      height: 41px;
      button {
        display: none;
        width: 70px;
        height: 41px;
        border: 1px solid transparent;
        background:  none;
        cursor: default;
        &.active {
          display: block;
          background: #000000 url('../img/ccp-sphone-css-but.png') no-repeat center;
          background-size:  70px 41px;
          cursor: pointer;
          &:hover {
            background-image:  url('../img/ccp-sphone-css-but-hover.png');
          }
        }
      }
    }
  }
}

// TD Options
#td-options {
  .ccp-options-col-1 {
    #td-build-html-but {
      display: block;
      background: #000000 url('../img/td-to-cb-html-icon.png') no-repeat center;
      background-size: 90px 46px;
      &.hover {
        background-image: url('../img/td-to-cb-html-icon-hover.png');
      }
    }
  }
}

// TABLE Options
#table-options {
  .ccp-options-col-1 {
    // top: 5px;
    // left: 20px;
    // width: 120px;
    #table-build-html-but {
      display: block;
      background: #000000 url('../img/table-to-cb-html-icon.png') no-repeat center;
      background-size: 90px 46px;
      &.hover {
        background-image: url('../img/table-to-cb-html-icon-hover.png');
      }
    }
  }
}

// VA! 03.26.18
#table-max-width {
  display: none;

  // border: 1px solid green;
}


// Stopping here 12/6/17


/* Input placeholder */
//Get rid of these vendor prefixes
#ccp input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #959595;
  font-style: italic;
}
#ccp input::-moz-placeholder { /* Firefox 19+ */
  color: #959595;
  font-style: italic;
}
#ccp input:-ms-input-placeholder { /* IE 10+ */
  color: #959595;
  font-style: italic;
}
#ccp input:-moz-placeholder { /* Firefox 18- */
  color: #959595;
  font-style: italic;
}

// CCP CLose Button
#ccp-close {
  position: absolute;
  top: 450px;
  right: 20px;
  width: 80px;
  float: right;
  background-image: url(../img/close-icon.png);
  background-repeat: no-repeat;
  background-position: center right;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 1;
}


// Separators =========================================
.separator1 {
  width: 100%;
  height: 9px;
  border-top: 3px solid $whit-color;
  border-bottom: 3px solid $dim-color;
}



.page-content-heading {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  // border: 1px solid green;
  p.tl-dr {
    color: #979595;
    font-family: $primary-font-family;
    font-size: 48px;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    span.dim-color {
      color: $dim-color;
    }
    span.whit-color {
      color: $whit-color;
    }
  }
}




figure {
  position: relative;
  margin: 15px 0 !important;
  padding: 0 0 10px;
  border-top: 1px solid $dim-color;
  border-bottom: 1px solid $whit-color;
  // border: 1px solid blue;
  &.qs-clipboard-functions {
    position: relative;
    width: 100%;
    // !VA CLEARFIX! WORKS!
    &::after {
      display: block;
      clear: both;
      content: '';
    }
    .qs-clipboard-functions-left {
      display: block;
      position: relative;
      width: 50%;
      float: left;
    }
    .qs-clipboard-functions-right {
      display: block;
      position: relative;
      width: 50%;
      float: left;
    }

  }
  
  h4 {
    margin-bottom: 5px;
    font-size: 18px;
    font-style: italic;
  }
  img {
    margin-bottom: 10px;
    &.qs-dim-viewers {
      width: 800px;
      height: 102px;
    }
    &.qs-image-resize-tools {
      width: 646px; 
      height: 50px;
    }
    &.qs-ccp-but {
      width: 85px;
      height: 50px;
      float: left;
      margin: 0 20px 10px 0;
    }
  }
  figcaption, aside {
    margin-top: 5px;
    font-size: 16px;
    line-height: 19px;
    &.qs-ccp-but-caption {
      min-height: 60px;
      margin-bottom: 15px;
      padding-right: 50px;
    }
  }
 

  img {
    &.qs-viewer-width-icon {
      vertical-align: -12px;
    }
  }
  img {
    &.viewer-width-field {
      width: 146px;
      height: 50px;
    }
  }
}




// Page Content =========================================

.content-section {
  // height: 600px;
  display: block;
  margin: 0 auto 50px;
  max-width: 768px;
  padding: 0 30px;
@media (min-width: 576px) { 
  max-width: 768px;
}
@media (min-width: 768px) {
  max-width: 992px;
  // border: 1px solid blue;
 }
@media (min-width: 992px) {
  max-width: 1200px;
  // border: 1px solid red;
 }
@media (min-width: 1200px) { }

  // border: 1px solid blue;
  h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    margin-top: 35px;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: bold;
  }
  h4, li, p {
    color: #535353;
    font-size: 21px;
  }
  span.note {
    color: #959595;
    font-weight: bold;
  }
  span.ui-element {
    color: #000000;
    // font-weight: bold;
  }
  img {
    &.qs-viewer-width-icon {
      width: 30px;
      height: 18px;
      // vertical-align: -12px;
    }
    &.qs-image-button-icon {
      width: 26px;
      height: 18px;
      // vertical-align: -12px;
    }
    &.qs-clipboard-but-icon {
      width: 24px;
      height: 21px;
      // vertical-align: -12px;
    }
  }
  ul.new-features li {
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
    // border: 1px solid blue;
  }
}


.video {
  position: relative;
  width: 720px;
  // border: 1px solid blue;
  iframe {
    display: block;
    position: relative;
    margin: 0 auto;
    // border: 1px solid red;
  }
}

/* TEST */
#test-container {
  display: block;
  width: 800px;
  height: 600px;
  // border: 1px solid blue;
  margin: 0 auto;
}

#test-left {
  float: left;
  width: 390px;
  height: 100%;
  border: 1px solid green;
}

#test-right {
  float: right;
  width: 390px;
  height: 100%;
  border: 1px solid red;
}

#test-right * {
  border: 1px solid magenta;
}

