$primary-font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$dimwhit-font-family: 'Open Sans', Arial, Helvetica, sans-serif;

.dim-text { 
  color: $dim-color; 
  font-family: $dimwhit-font-family;
  font-size: 110%;
  font-weight: bold;
}

.whit-text { 
  color: $whit-color; 
  font-family: $dimwhit-font-family;
  font-size: 110%;
  font-weight: normal;
}
